<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}CheDream - Open source crowdfunding system{% endblock %}">
        <meta name="author" content="{% block author %}Geekhub PHP Developers Team{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Welcome{% endblock %}</title>

        <link href="{{ asset('css/style.min.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        {% block body %}
            <div class="container" id="wrap">
                {% block menu %}{% include 'GeekhubResourceBundle:includes:menu.html.twig' %}{% endblock %}
                {% block main %}
                    <div class="wrapper">
                        {% block content %}{% endblock content %}
                    </div>
                {% endblock main %}
            </div>
            {% block footer %}{% include 'GeekhubResourceBundle:includes:footer.html.twig' %}{% endblock %}
        {% endblock %}

        {% block javascript %}
            <script src="{{ asset('js/scripts.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
