{% extends 'GeekhubResourceBundle:Email:layout.html.twig' %}

{% block header %}
    Дякуємо за вашу підтримку!
{% endblock header %}

{% block content %}
    <div class="centered">
        <h3>
            Ви підримали:
        </h3>

        <table class="layout">
            <tr>
                <td>
                    <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_pictures_view_form', true) }}" />
                </td>
                <td>
                    <h2><b>{{ dream.title }}</b></h2>
                    <p><i>створена {{ dream.createdAt|date("m-d-Y") }}</i></p>
                </td>
            </tr>
        </table>
    </div>
    <br/>

    <h4 class="centered">Ви обіцяли:</h4>

    <table class="layout">
        <tr>
            <td>
                <b><ul>
                    {{ finContribute(contributor.user, dream)|raw }}
                    {{ equipContribute(contributor.user, dream)|raw }}
                    {{ workContribute(contributor.user, dream)|raw }}
                    {{ otherContribute(contributor.user, dream)|raw }}
                </ul></b>
            </td>
        </tr>
    </table>
    <br/>

    <div class="centered">
        <h4>Коли роботи будуть розпочинатися, ви обов'язково отримаєте листа, а також з вами звяжеться автор мрії.</h4>
        <br/>

        <h4>Якщо ви хочете зв'язатися з автором зараз, <a href="mailto:{{ dream.author.email }}">напишіть йому листа</a>. </h4>
    </div>
{% endblock content %}
