{% extends 'GeekhubResourceBundle:Email:layout.html.twig' %}

{% block header %}
    <b>
        Щиро вітаємо у
        <a href="{{ url('geekhub_dream_homepage') }}" class="brand">
            <img data-src="holder.js/80x20" alt="Черкаській мрії" />
        </a>
    </b>
{% endblock header %}

{% block content %}
    <h3 class="centered">
        Деталі вашого облікового запису
        {#Деталі вашого профілю на сайті#}
    </h3>

    <div class="layout centered">
        <h2>
            <b>{{ user.firstName ~ " " ~ user.lastName  }}</b>
        </h2>
        <h3>
            {{ user.email }}
        </h3>
        <h4>підключено через
            {% if user.facebookId is not null  %}
                Facebook
            {% elseif user.odnoklassnikiId %}
                Однокласники
            {% elseif user.vkontakteId %}
                ВКонтакте
            {% endif %}
        </h4>
    </div>
    <br/>
    <hr/>

    <div  class="centered">
        <h3>Що далі?</h3>
        <table style="width: 100%">
            <tr>
                <td style="text-align: right">
                    <a href="{{ url('dream_list') }}">
                        <button class="btn btn-default">Подивитися мрії</button>
                    </a>
                </td>
                <td style="text-align: left">
                    <a href="{{ url('new_dream') }}">
                        <button class="btn btn-default">Створити мрію</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
