{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block body %}
    <div class="container" id="wrap">
        {% include 'GeekhubResourceBundle:includes:menu.html.twig' %}

        <div style="margin-top: 50px;">

            {% for dream in dreams %}
                <div>

                    <p>title = {{ dream.title }}</p>
                    <p>descr = {{ dream.description }}</p>
                    <p>phone = {{ dream.phone }}</p>
                    <p>exp data = {{ dream.expiredDate|date('d.m.Y') }}</p>
                    <p>status = {{ dream.currentStatus.title }}</p>
                    <p>Tags = {{ dream.tags }}</p>

                    <div class=" well well-sm">
                    {% for resources in dream.dreamResources %}
                        <p>title = {{ resources.title }}</p>
                        <p>type = {{ resources.type }}</p>
                        {% if resources.quantity is not null %}
                            <p>quantity = {{ resources.quantity }}</p>
                        {% endif %}

                        {% if resources.quantityType is not null %}
                            <p>quantityType = {{ resources.quantityType }}</p>
                        {% endif %}

                        {% if resources.quantityDays is not null %}
                            <p>quantityDays = {{ resources.quantityDays }}</p>
                        {% endif %}
                        <hr>

                    {% endfor %}
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
    {#{% include 'GeekhubResourceBundle:includes:footer.html.twig' %}#}
{% endblock %}

