{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}

    <div class="btn-group">
       <button type="button" class="btn btn-default" id="new">Нові</button>
       <button type="button" class="btn btn-default" id="popular">Популярні</button>
       <button type="button" class="btn btn-default" id="submitted">На стадії втілення</button>
       <button type="button" class="btn btn-default" id="success">Втілені</button>
    </div>   
    <div class="row">
      <div id="dreams">
        {{ render(controller('GeekhubDreamBundle:Dream:viewAllDreams', {'dreams': dreams, 'status': 'new', 'offset': 0})) }}
      </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
    document.requestUrl="{{ path('view_all_dreams', {'status': 'new', 'offset': '1'}) }}";
    document.requestUrl=document.requestUrl.substr(0, document.requestUrl.length-1);
    document.offset=0;
    document.load=0;

    $('#new').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'new', 'offset': 1}) }}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
                document.requestUrl="{{path('view_all_dreams', {'status': 'new', 'offset': '1'}) }}";
                document.requestUrl=document.requestUrl.substr(0, document.requestUrl.length-1);
                document.offset=0;
            }
        });
    });

    $('#popular').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'popular', 'offset': 1}) }}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
                document.requestUrl="{{path('view_all_dreams', {'status': 'popular', 'offset': '1'}) }}";
                document.requestUrl=document.requestUrl.substr(0, document.requestUrl.length-1);
                offset=1;
            }
        });
    });

    $('#submitted').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'submitted', 'offset': 1}) }}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
                document.requestUrl="{{path('view_all_dreams', {'status': 'submitted', 'offset': '1'}) }}";
                document.requestUrl=document.requestUrl.substr(0, document.requestUrl.length-1);
                document.offset=0;
            }
        });
    });

    $('#success').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'success', 'offset': 1} )}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
                document.document.requestUrl="{{path('view_all_dreams', {'status': 'success', 'offset': '1'}) }}";
                document.requestUrl=document.requestUrl.substr(0, document.requestUrl.length-1);
                document.offset=0;
            }
        });
    });

    $(window).scroll( function() {
        if($(window).height() + $(window).scrollTop() >= $(document).height() && !document.load) {
            $.ajax({
                type: "POST",
                url: document.requestUrl + (document.offset + 8),
                data: "data=0",
                cache: false,
                success: function(html){
                    $("#dreams").append(html);
                    document.offset = document.offset+8;
                }
            });
        }
    });

    </script>
{% endblock %}
