{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}

    <div class="btn-group">
       <button type="button" class="btn btn-default" id="new">Нові</button>
       <button type="button" class="btn btn-default" id="popular">Популярні</button>
       <button type="button" class="btn btn-default" id="submitted">На стадії втілення</button>
       <button type="button" class="btn btn-default" id="success">Втілені</button>
    </div>   
    <div class="row">
      <div id="dreams">
     {{ render(controller('GeekhubDreamBundle:Dream:viewAllDreams', {'dreams': dreams, 'status': 'new', 'lastDreamId': 0})) }}
      </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
    $('#new').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'new', 'lastDreamId': 1}) }}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
            }
        });
    });

    $('#popular').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'popular', 'lastDreamId': 1}) }}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
            }
        });
    });

    $('#submitted').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'submitted', 'lastDreamId': 1}) }}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
            }
        });
    });

    $('#success').on('click', function() {
        $.ajax({
            type: "POST",
            url: "{{path('view_all_dreams', {'status': 'success', 'lastDreamId': 1} )}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#dreams").html(html);
            }
        });
    });

    </script>
{% endblock %}
