{% extends 'GeekhubResourceBundle::layout.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('css/dream_css.min.css') }}" rel="stylesheet">
    <link href="../css/zx.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>New Dream <small>create or edit your dream</small></h1>
    </div>
    {#{{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate' }}) }}#}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#uploadMainImage">
                <img data-src="holder.js/100%x200/text:Main Image">
            </a>
            <div id="files" class="files"></div>
            <br>
            <span class="btn btn-success fileinput-button btn-xs">
                <span>Select files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>

            <!-- The global progress bar -->
            <p>Upload progress</p>
            <div id="progress" class="progress progress-success progress-striped">
                <div class="bar"></div>
            </div>



            <!-- The list of files uploaded -->
            <p>Files uploaded:</p>
            <ul id="files"></ul>





            {##}
            {#<a href="#" class="well-sm" data-toggle="modal" data-target="#uploadImages">#}
                {#+ image#}
            {#</a>#}

            {#&#123;&#35;***************************************************************************************************************************&#35;&#125;#}
            {#<div class="modal fade" id="uploadImages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
                {#<div class="modal-dialog">#}
                    {#<div class="modal-content">#}
                        {#<div class="modal-header">#}
                            {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
                            {#<h4 class="modal-title">Upload main image</h4>#}
                        {#</div>#}
                        {#<div class="modal-body">#}
                            {#<div class="form-group">#}

                                {#<span class="btn btn-success fileinput-button">#}
                                    {#<i class="glyphicon glyphicon-plus"></i>#}
                                {#<span>Select files...</span>#}
                                {#<!-- The file input field used as target for the file upload widget -->#}
                                {#<input id="fileupload" type="file" name="files[]" multiple">#}
                                {#</span>#}
                                {#<br>#}
                                {#<br>#}
                                {#<!-- The global progress bar -->#}
                                {#<div id="progress" class="progress">#}
                                    {#<div class="progress-bar progress-bar-success"></div>#}
                                {#</div>#}
                                {#<!-- The container for the uploaded files -->#}
                                {#<div id="files" class="files"></div>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div><!-- /.modal-content -->#}
                {#</div><!-- /.modal-dialog -->#}
            {#</div><!-- /.modal -->#}
            {#&#123;&#35;***************************************************************************************************************************&#35;&#125;#}



        </div>
        <div class="col-md-8">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.expiredDate) }}
            {{ form_row(form.tags) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;&nbsp;FINANCE</h4>
                <ul class="financialResources" data-prototype="{{ form_widget(form.financialResources.vars.prototype)|e }}">
                    {% for finance in form.financialResources %}
                        <li>
                            {{ form_label(finance.title, 'title l') }}
                            {{ form_widget(finance.title) }}
                        </li>
                        <li>
                            {{ form_label(finance.quantity, 'quantity l') }}
                            {{ form_widget(finance.quantity) }}
                        </li>
                        <li>{{ form_widget(finance.type) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;EQUIPMENT</h4>
                <ul class="equipmentResources" data-prototype="{{ form_widget(form.equipmentResources.vars.prototype)|e }}">
                    {% for equipment in form.equipmentResources %}
                        <li>
                            {{ form_label(equipment.title, 'title l') }}
                            {{ form_widget(equipment.title) }}
                        </li>
                        <li>
                            {{ form_label(equipment.quantity, 'quantity l') }}
                            {{ form_widget(equipment.quantity) }}
                        </li>
                        <li>
                            {{ form_label(equipment.quantityType, 'quantityType l') }}
                            {{ form_widget(equipment.quantityType) }}
                        </li>
                        <li>{{ form_widget(equipment.type) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;WORK</h4>
                <ul class="workResources" data-prototype="{{ form_widget(form.workResources.vars.prototype)|e }}">
                    {% for work in form.workResources %}
                        <li>
                            {{ form_label(work.title, 'title l') }}
                            {{ form_widget(work.title) }}
                        </li>
                        <li>
                            {{ form_label(work.quantity, 'quantity l') }}
                            {{ form_widget(work.quantity) }}
                        </li>
                        <li>
                            {{ form_label(work.quantityDays, 'quantityDays l') }}
                            {{ form_widget(work.quantityDays) }}
                        </li>
                        <li>{{ form_widget(work.type) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>

        <br>
         <input type="submit" value="Create Dream" class="text-center btn btn-primary">
        {{ form_row(form._token) }}
    {{ form_end(form) }}
    {% include 'GeekhubDreamBundle:includes:dreamMainImageModal.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/dream.min.js') }}"></script>

{#<script>#}

{#//#}
{#//#}
{#//    /*jslint unparam: true */#}
{#//    /*global window, $ */#}
{#//    $(function () {#}
{#//        'use strict';#}
{#//        // Change this to the location of your server-side upload handler:#}
{#//        var url = Routing.generate('dream_ajax_load_image');#}
{#//        $('#fileupload').fileupload({#}
{#//            url: url,#}
{#//            dataType: 'json',#}
{#//            done: function (e, data) {#}
{#//                $.each(data.result.files, function (index, file) {#}
{#//                    $('<p/>').text(file.name).appendTo('#files');#}
{#//                });#}
{#//            },#}
{#//            progressall: function (e, data) {#}
{#//                var progress = parseInt(data.loaded / data.total * 100, 10);#}
{#//                $('#progress .progress-bar').css(#}
{#//                        'width',#}
{#//                        progress + '%'#}
{#//                );#}
{#//            }#}
{#//        }).prop('disabled', !$.support.fileInput)#}
{#//                .parent().addClass($.support.fileInput ? undefined : 'disabled');#}
{#//    });#}
{#</script>#}

{% endblock %}
