{% extends 'GeekhubResourceBundle::layout.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('css/dream_css.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>New Dream <small>create or edit your dream</small></h1>
    </div>
    {#{{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate' }}) }}#}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#uploadMainImage">
                <img data-src="holder.js/100%x200/text:Main Image">
            </a>

            <input id="dto" type="hidden">
            <br>
            <span class="btn btn-success fileinput-button btn-xs" id="load-input" onclick="loadFile()">
            <span>Select files...</span>
                <input id="fileuploadz" type="file" name="files" multiple>
            </span>

            <p>Preview:</p>
            <div id="dream-gallery"></div>

            <p>Errors:</p>
            {#<div id="files" class="files"></div>#}
            <ul id="files" class="files"></ul>

        </div>
        <div class="col-md-8">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.expiredDate) }}
            {{ form_row(form.tags) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;&nbsp;FINANCE</h4>
                <ul class="financialResources" data-prototype="{{ form_widget(form.financialResources.vars.prototype)|e }}">
                    {% for finance in form.financialResources %}
                        <li>
                            {{ form_label(finance.title, 'title l') }}
                            {{ form_widget(finance.title) }}
                        </li>
                        <li>
                            {{ form_label(finance.quantity, 'quantity l') }}
                            {{ form_widget(finance.quantity) }}
                        </li>
                        <li>{{ form_widget(finance.type) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;EQUIPMENT</h4>
                <ul class="equipmentResources" data-prototype="{{ form_widget(form.equipmentResources.vars.prototype)|e }}">
                    {% for equipment in form.equipmentResources %}
                        <li>
                            {{ form_label(equipment.title, 'title l') }}
                            {{ form_widget(equipment.title) }}
                        </li>
                        <li>
                            {{ form_label(equipment.quantity, 'quantity l') }}
                            {{ form_widget(equipment.quantity) }}
                        </li>
                        <li>
                            {{ form_label(equipment.quantityType, 'quantityType l') }}
                            {{ form_widget(equipment.quantityType) }}
                        </li>
                        <li>{{ form_widget(equipment.type) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;WORK</h4>
                <ul class="workResources" data-prototype="{{ form_widget(form.workResources.vars.prototype)|e }}">
                    {% for work in form.workResources %}
                        <li>
                            {{ form_label(work.title, 'title l') }}
                            {{ form_widget(work.title) }}
                        </li>
                        <li>
                            {{ form_label(work.quantity, 'quantity l') }}
                            {{ form_widget(work.quantity) }}
                        </li>
                        <li>
                            {{ form_label(work.quantityDays, 'quantityDays l') }}
                            {{ form_widget(work.quantityDays) }}
                        </li>
                        <li>{{ form_widget(work.type) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>

        <br>
         <input type="submit" value="Create Dream" class="text-center btn btn-primary">
        {{ form_row(form._token) }}
    {{ form_end(form) }}
    {% include 'GeekhubDreamBundle:includes:dreamMainImageModal.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('js/dream.min.js') }}"></script>

<script>
    loadFile = function () {
//            'use strict';
//        var url = Routing.generate('media_upload_images');
        var url = Routing.generate('dream_ajax_load_image');
        $('#fileuploadz').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
//                console.dir(data);
                var responseArr = JSON.parse(data.jqXHR.responseText);
//                console.log(responseArr);

                $.each(responseArr, function (index, file) {
                    console.log('type = ' + file.type);
                    console.log('srcPreview = ' + file.srcPreview);
                    console.log('src = ' + file.src);
                    console.log('error = ' + file.error);

                    if(file.error){
                        $('<li5/>').text(file.error).appendTo('#files');

                        return;
                    }
                    if(file.type == 'image') {
                        $('#dream-gallery').append('<img src="' + file.srcPreview + '">');
                    }


//                    $('<li/>').text(file.src).appendTo('#files');
//                    $('#dto').get(0).value += ',upload/' + file.name;

                });
            },
            error: function(msg) {
                console.log('error = ' + msg);
                console.dir(msg);
            }
        });
    };
</script>

{% endblock %}
