{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/dream_css.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div style="margin-top: 50px;">

        <div class="col-md-8 col-md-offset-2">
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.expiredDate) }}
            {{ form_widget(form.tagsInput) }}
            {#{{ form_widget(form.tagsInput, {'attr': {'value': 'php, apple, zz'} }) }}#}
            <br>
            <ul id="singleFieldTags"></ul>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                    <p>Finance</p>
                    <ul class="financialResources" data-prototype="{{ form_widget(form.financialResources.vars.prototype)|e }}">
                        {% for finance in form.financialResources %}
                            <li>
                                {{ form_label(finance.title, 'title l') }}
                                {{ form_widget(finance.title) }}
                            </li>
                            <li>
                                {{ form_label(finance.quantity, 'quantity l') }}
                                {{ form_widget(finance.quantity) }}
                            </li>
                            <li>{{ form_widget(finance.type) }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Equipment</p>
                    <ul class="equipmentResources" data-prototype="{{ form_widget(form.equipmentResources.vars.prototype)|e }}">
                        {% for equipment in form.equipmentResources %}
                            <li>
                                {{ form_label(equipment.title, 'title l') }}
                                {{ form_widget(equipment.title) }}
                            </li>
                            <li>
                                {{ form_label(equipment.quantity, 'quantity l') }}
                                {{ form_widget(equipment.quantity) }}
                            </li>
                            <li>
                                {{ form_label(equipment.quantityType, 'quantityType l') }}
                                {{ form_widget(equipment.quantityType) }}
                            </li>
                            <li>{{ form_widget(equipment.type) }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Work</p>
                    <ul class="workResources" data-prototype="{{ form_widget(form.workResources.vars.prototype)|e }}">
                        {% for work in form.workResources %}
                            <li>
                                {{ form_label(work.title, 'title l') }}
                                {{ form_widget(work.title) }}
                            </li>
                            <li>
                                {{ form_label(work.quantity, 'quantity l') }}
                                {{ form_widget(work.quantity) }}
                            </li>
                            <li>
                                {{ form_label(work.quantityDays, 'quantityDays l') }}
                                {{ form_widget(work.quantityDays) }}
                            </li>
                            <li>{{ form_widget(work.type) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <br>
             <input type="submit" value="Ok" class="text-center btn btn-default">
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/dream.min.js') }}"></script>
{% endblock %}

