{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/dream_css.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>New Dream <small>create or edit your dream</small></h1>
    </div>
    {#{{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate' }}) }}#}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-5">

            <span class="fileinput-button" id="dream-poster-image">
                <div id="dream-poster-container">
                    <img data-src="holder.js/440x260/text:Main Image" class="img-thumbnail">
                    <input id="fileupload-poster" type="file" name="dream-poster">
                </div>
            </span>

            <br>
            <div id="dream-gallery"></div>
            <br/>
            <div id="dream-files"></div>
            <div id="dream-videos"></div>

            <div class="row">
                <div class="col-md-11">

                    <div id="dream-add-video">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-1">
                                <div>
                                    <div id="dream-add-video-error"></div>
                                    <input type="text" class="form-control" id="dream-add-video-text-input">
                                </div>
                                <br/>
                                <div class="text-center">
                                    <input type="button" id="add-video-button" class="btn btn-info btn-xs" value="Додати">
                                    <input type="button" id="add-video-button-cancel" class="btn btn-warning btn-xs" value="Відміна">
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>

                    <span class="btn btn-success fileinput-button btn-xs pull-left" id="load-input" onclick="loadFile()">
                       <span> Додати файли...</span>
                        <input id="fileuploadz" type="file" name="files" multiple>
                    </span>

                    <span class="btn btn-xs btn-success pull-right" onclick="addDreamVideo()"> Додати відео </span>
                </div>
            </div>

            <br/>

            <div id="errors" class="files"></div>

        </div>
        <div class="col-md-7">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.expiredDate) }}
            {{ form_row(form.tags) }}
            {{ form_widget(form.dreamPictures) }}
            {{ form_widget(form.dreamFiles) }}
            {{ form_widget(form.dreamVideos) }}
            {{ form_widget(form.dreamPoster) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-euro"></span>&nbsp;&nbsp;FINANCE</h4>
                <ul class="financialResources" data-prototype="{{ form_widget(form.dreamFinancialResources.vars.prototype)|e }}">
                    {#{{ dump(form.financialResources) }}#}
                    {% for finance in form.dreamFinancialResources %}
                        <li>
                            {{ form_label(finance.title) }}
                            {{ form_widget(finance.title) }}

                            {{ form_label(finance.quantity) }}
                            {{ form_widget(finance.quantity) }}
                        </li><br/>
                    {% endfor %}
                </ul>
            </div>



            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;EQUIPMENT</h4>
                <ul class="equipmentResources" data-prototype="{{ form_widget(form.dreamEquipmentResources.vars.prototype)|e }}">
                    {% for equipment in form.dreamEquipmentResources %}
                        <li>
                            {{ form_label(equipment.title) }}
                            {{ form_widget(equipment.title) }}

                            {{ form_label(equipment.quantity) }}
                            {{ form_widget(equipment.quantity) }}

                            {{ form_label(equipment.quantityType) }}
                            {{ form_widget(equipment.quantityType) }}
                        </li><br/>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;WORK</h4>
                <ul class="workResources" data-prototype="{{ form_widget(form.dreamWorkResources.vars.prototype)|e }}">
                    {% for work in form.dreamWorkResources %}
                        <li>
                            {{ form_label(work.title) }}
                            {{ form_widget(work.title) }}

                            {{ form_label(work.quantity) }}
                            {{ form_widget(work.quantity) }}

                            {{ form_label(work.quantityDays) }}
                            {{ form_widget(work.quantityDays) }}
                        </li><br/>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>

        <br>
         <input type="submit" value="Create Dream" class="text-center btn btn-primary">
        {{ form_row(form._token) }}
    {{ form_end(form) }}
    {% include 'GeekhubDreamBundle:includes:dreamMainImageModal.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('js/dream.min.js') }}"></script>

{% endblock %}
