{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}
    <div class="content page-new-dream">
        {{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate', 'id': 'create-dream-form' }}) }}
        {#{{ form_start(form, {'attr': {'id': 'create-dream-form'} } ) }}#}
        <div class="row">
            <div class="col-md-4">
                
                <!--<span class="fileinput-button no-display" id="dream-poster-image">
                    <div id="dream-poster-container">-->
                        <!--<img data-src="holder.js/440x260/text:Main Image" class="img-thumbnail">-->
                        <!--<input id="fileupload-poster" type="file" name="dream-poster">
                    </div>
                </span>-->
                <span class="label">Додати</span>
                <div id="dream-poster-image" class="main-photo">
                    <div class="photo-holder">
                        <span class="icon"></span>
                        <span class="title required">Зображення</span>
                    </div>
                    <img src="" alt="Main Image">
                    <!--<img data-src="holder.js/440x260/text:Main Image" class="">-->
                    <input id="fileupload-poster" type="file" name="dream-poster">
                </div>
                
                <div id="dream-gallery" class="uploaded-images"></div>
                <div id="dream-files"></div>
                <div id="dream-videos"></div>
                
                <div id="dream-add-video">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div id="dream-add-video-error"></div>
                                <input type="text" class="form-control" id="dream-add-video-text-input">
                            </div>
                            <div class="text-center">
                                <input type="button" id="add-video-button" class="btn btn-info btn-xs" value="{{ 'dream.add'|trans }}">
                                <input type="button" id="add-video-button-cancel" class="btn btn-warning btn-xs" value="{{ 'dream.cancel'|trans }}">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="upload-buttons">
                    <span class="upload-resource upload-image" onclick="loadFile()"></span>
                    <input id="fileuploadz" type="file" name="files" multiple>
                    
                    <span class="upload-resource upload-video" onclick="addDreamVideo()"></span>
                    
                    <span class="upload-resource upload-file" onclick="loadFile()"></span>
                </div>
                
                <!--<span class="" onclick="loadFile()">
                    <span>{{ 'dream.files_add'|trans }}</span>
                    <input id="fileuploadz" type="file" name="files" multiple>
                </span>-->
                
                <!--<span class="btn btn-xs btn-success pull-right" onclick="addDreamVideo()">{{ 'dream.videos_add'|trans }}</span>-->
                
                <div id="errors" class="files"></div>
            </div>
            
            <ul class="main-form-list col-md-8">
                <li class="input-block name-block">
                    <label class="label required">Назва</label>
                    {{ form_widget(form.title, {'attr': {'placeholder': 'Без назви'}}) }}
                </li>
                <li class="input-block">
                    <label class="label required">Опис</label>
                    <div class="description-wrap">
                        <div class="description">
                            {{ form_widget(form.description) }}
                            {{ tinymce_init() }}
                        </div>
                    </div>
                </li>
                <li class="input-block">
                    <label class="label required">Кінцева дата</label>
                    {{ form_widget(form.expiredDate) }}
                </li>
                <li class="input-block">
                    <label class="label">Ключові слова</label>
                    <span class="label-hint">Відокремлювати комою</span>
                    {{ form_widget(form.tags) }}
                </li>
                <li class="input-block phone-block">
                    <label class="label required">Телефон</label>
                    {{ form_widget(form.phone, {'attr': {'placeholder': '(888) 888 88 88'}}) }}
                </li>
                <li class="no-display">
                    {{ form_widget(form.dreamPictures) }}
                    {{ form_widget(form.dreamFiles) }}
                    {{ form_widget(form.dreamVideos) }}
                    {{ form_widget(form.dreamPoster) }}
                </li>
            </ul>
        </div>
        
        <div class="price-block">
            <span class="label">Кошторис проекту</span>
            <ul class="row form-list">
                <li class="col-md-4">
                    <span class="resource-caption"><span class="icon-resource icon-money"></span>Фінансові витрати</span>
                    <ul class="resources-list financialResources" data-prototype="{{ form_widget(form.dreamFinancialResources.vars.prototype)|e }}">
                        {% for finance in form.dreamFinancialResources %}
                            <li class="collection-form">
                                {{ form_widget(finance) }}
                                {{ form_errors(finance) }}
                            </li>
                        {% endfor %}
                        
                        <li class="labels-block block-type-1" data-labels>
                            <span class="resource-label width-1">Стаття витрати</span>
                            <span class="resource-label width-2">Сума, грн</span>
                        </li>
                        <li class="input-block block-type-1" data-template>
                            <div class="form-group">
                                <input
                                       type="text"
                                       class="resource-field width-1"
                                       required="required"
                                       data-name="newDreamForm[dreamFinancialResources][][title]">
                                <input
                                       type="number"
                                       class="resource-field width-2"
                                       required="required"
                                       data-name="newDreamForm[dreamFinancialResources][][quantity]">
                            </div>
                        </li>
                        
                        <li>
                            <a href="#add-financial-resource" class="btn-add" data-add-resource><span class="icon-add"></span></a>
                        </li>
                    </ul>
                </li>
                
                <li class="col-md-4">
                    <span class="resource-caption equipment-caption"><span class="icon-resource icon-equipment"></span>Інструменти / обладнання <br />техніка</span>
                    <ul class="resources-list equipmentResources" data-prototype="{{ form_widget(form.dreamEquipmentResources.vars.prototype)|e }}">
                        {% for equipment in form.dreamEquipmentResources %}
                            <li class="collection-form">
                                {{ form_widget(equipment) }}
                                {{ form_errors(equipment) }}
                            </li>
                        {% endfor %}
                        
                        <li class="labels-block block-type-2" data-labels>
                            <span class="resource-label width-1">Назва</span>
                            <span class="resource-label width-2">Одиниця виміру</span>
                            <span class="resource-label width-3">Кільк.</span>
                        </li>
                        <li class="input-block block-type-2" data-template>
                            <input
                                   type="text"
                                   class="resource-field width-1"
                                   required="required"
                                   data-name="newDreamForm[dreamEquipmentResources][][title]">
                            <select
                                    class="resource-field input-view width-2"
                                    required="required"
                                    data-name="newDreamForm[dreamEquipmentResources][][quantityType]">
                                <option value="piece">штук</option>
                                <option value="kg">кг.</option>
                                <option value="ton">тон</option>
                            </select>
                            <input
                                   type="number"
                                   class="resource-field width-3"
                                   required="required"
                                   data-name="newDreamForm[dreamEquipmentResources][][quantity]">
                        </li>
                        
                        <li>
                            <a href="#add-equipment-resource" class="btn-add" data-add-resource><span class="icon-add"></span></a>
                        </li>
                    </ul>
                </li>
                
                <li class="col-md-4">
                    <span class="resource-caption"><span class="icon-resource icon-people"></span>Роботи та ресурси</span>
                    <ul class="resources-list workResources" data-prototype="{{ form_widget(form.dreamWorkResources.vars.prototype)|e }}">
                        {% for work in form.dreamWorkResources %}
                            <li class="collection-form">
                                {{ form_widget(work) }}
                                {{ form_errors(work) }}
                            </li>
                        {% endfor %}
                        
                        <li class="labels-block block-type-3" data-labels>
                            <span class="resource-label width-1">Назва робіт</span>
                            <span class="resource-label width-2">Чоловік</span>
                            <span class="resource-label width-3">Днів</span>
                        </li>
                        <li class="input-block block-type-3" data-template>
                            <input
                                   type="text"
                                   class="resource-field width-1"
                                   required="required"
                                   data-name="newDreamForm[dreamWorkResources][][title]">
                            <input
                                   type="number"
                                   class="resource-field width-2"
                                   required="required"
                                   data-name="newDreamForm[dreamWorkResources][][quantity]">
                            <input
                                   type="number"
                                   class="resource-field width-3"
                                   required="required"
                                   data-name="newDreamForm[dreamWorkResources][][quantityDays]">
                        </li>
                        
                        <li>
                            <a href="#add-human-resource" class="btn-add" data-add-resource><span class="icon-add"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
        <div class="buttons-block">
            <button type="button" data-toggle="modal" data-target="#dreamConfirmModal" class="custom-btn btn-green">{{ 'dream.create'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div> <!--/Content-->
    {% include 'GeekhubDreamBundle:includes:dreamConfirmModal.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $('#btnDreamSubmit').click(function(){
            $('#create-dream-form').get(0).submit();
        });
        $(document).ready(function() {
            $('ul.help-block li a').hide();
            $('#newDreamForm_dreamPictures').get(0).value = '';
            $('#newDreamForm_dreamFiles').get(0).value = '';
            $('#newDreamForm_dreamVideos').get(0).value = '';
            $('#newDreamForm_dreamPoster').get(0).value = '';
        });
    </script>
{% endblock %}
