{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - Нова мрія
{% endblock title %}

{% block content %}
    <div class="content page-new-dream page-green-shadow">
        {{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate', 'id': 'create-dream-form' }}) }}
        {#{{ form_start(form, {'attr': {'id': 'create-dream-form'} } ) }}#}
        <div class="row">
            <div class="col-md-4">
                <span class="label">Додати</span>
                <div id="dream-poster-image" class="main-photo">
                    <div class="photo-holder">
                        <span class="icon"></span>
                        <span class="title required">Кавер-зображення</span>
                    </div>
                    <img src="" alt="Main Image">
                    <input id="fileupload-poster" type="file" name="dream-poster">
                </div>

                <div id="media-block-container">
                    <div id="dream-gallery" class="uploaded-images"></div>
                    <div id="dream-files" class="upload-results"></div>
                    <div id="dream-videos" class="upload-results"></div>
                </div>

                <div id="errors" class="files upload-results"></div>
                
                <div id="dream-add-video" class="add-video-block">
                    <div class="input-block">
                        <label class="label">Youtube url</label>
                        <input type="text" class="form-control" id="dream-add-video-text-input">
                        <div id="dream-add-video-error"></div>
                    </div>
                    <div class="buttons-block">
                        <button type="button" id="add-video-button" class="custom-btn btn-green">{{ 'dream.add'|trans }}</button>
                        <button type="button" id="add-video-button-cancel" class="custom-btn btn-orange">{{ 'dream.cancel'|trans }}</button>
                    </div>
                </div>
                
                <div class="upload-buttons">
                    <span class="upload-resource upload-image" onclick="loadFile()">
                        <span class="icon"></span>
                        <span class="title">Фото</span>
                    </span>
                    <input id="fileuploadz" type="file" name="files" multiple>
                    
                    <span class="upload-resource upload-video" onclick="addDreamVideo()">
                        <span class="icon"></span>
                        <span class="title">Відео</span>
                    </span>
                    
                    <span class="upload-resource upload-file" onclick="loadFile()">
                        <span class="icon"></span>
                        <span class="title">Файли</span>
                    </span>
                </div>
            </div>
            
            <ul class="main-form-list col-md-8">
                <li class="input-block">
                    <label class="label required">Назва</label>
                    {{ form_widget(form.title, {'attr': {'placeholder': 'Без назви'}}) }}
                    {{ form_errors(form.title) }}
                </li>
                <li class="input-block">
                    <label class="label required">Опис</label>
                    <div class="description-wrap">
                        <div class="description">
                            {{ form_widget(form.description) }}
                            {{ tinymce_init() }}
                        </div>
                    </div>
                    {{ form_errors(form.description)  }}
                </li>
                <li class="input-block">
                    <label class="label required">Кінцева дата</label>
                    {{ form_widget(form.expiredDate, {'attr': {'placeholder': 'дд.мм.рррр'} } ) }}
                    {{ form_errors(form.expiredDate)  }}
                </li>
                <li class="input-block">
                    <label class="label">Ключові слова</label>
                    <span class="label-hint">Відокремлювати комою</span>
                    {{ form_widget(form.tags) }}
                </li>
                <li class="input-block">
                    <label class="label required">Телефон</label>
                    {{ form_widget(form.phone, {'attr': {'placeholder': '(888) 888 88 88'}}) }}
                    {{ form_errors(form.phone)  }}
                </li>
                <li class="no-display">
                    {{ form_widget(form.dreamPictures) }}
                    {{ form_widget(form.dreamFiles) }}
                    {{ form_widget(form.dreamVideos) }}
                    {{ form_widget(form.dreamPoster) }}
                </li>
            </ul>
        </div>
        
        <div class="price-block">
            <span class="label">Кошторис проекту</span>
            <ul class="row form-list">
                <li class="col-md-4">
                    <span class="resource-caption"><span class="icon-resource icon-money"></span>Фінансові витрати</span>
                    <ul class="resources-list block-type-1 financialResources" data-prototype="{{ form_widget(form.dreamFinancialResources.vars.prototype)|e }}">
                        {% for finance in form.dreamFinancialResources %}
                            <li class="input-block collection-form">
                                {{ form_widget(finance) }}
                                {{ form_errors(finance) }}
                            </li>
                        {% endfor %}
                        
                        <li class="labels-block" data-labels>
                            <span class="resource-label width-1">Стаття витрати</span>
                            <span class="resource-label width-2">Сума, грн</span>
                        </li>
                    </ul>
                </li>
                
                <li class="col-md-4">
                    <span class="resource-caption equipment-caption"><span class="icon-resource icon-equipment"></span>Інструменти / обладнання <br />техніка</span>
                    <ul class="resources-list block-type-2 equipmentResources" data-prototype="{{ form_widget(form.dreamEquipmentResources.vars.prototype)|e }}">
                        {% for equipment in form.dreamEquipmentResources %}
                            <li class="input-block collection-form">
                                {{ form_widget(equipment) }}
                                {{ form_errors(equipment) }}
                            </li>
                        {% endfor %}
                        
                        <li class="labels-block" data-labels>
                            <span class="resource-label width-1">Назва</span>
                            <span class="resource-label width-2">Од. виміру</span>
                            <span class="resource-label width-3">Кільк.</span>
                        </li>
                    </ul>
                </li>
                
                <li class="col-md-4">
                    <span class="resource-caption"><span class="icon-resource icon-people"></span>Роботи та ресурси</span>
                    <ul class="resources-list block-type-3 workResources" data-prototype="{{ form_widget(form.dreamWorkResources.vars.prototype)|e }}">
                        {% for work in form.dreamWorkResources %}
                            <li class="input-block collection-form">
                                {{ form_widget(work) }}
                                {{ form_errors(work) }}
                            </li>
                        {% endfor %}
                        
                        <li class="labels-block" data-labels>
                            <span class="resource-label width-1">Назва робіт</span>
                            <span class="resource-label width-2">Чоловіко-днів</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
        <div class="buttons-block">
            <button type="button" data-toggle="modal" data-target="#dreamConfirmModal" class="custom-btn btn-green">{{ 'dream.create'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div> <!--/Content-->
    {% include 'GeekhubDreamBundle:includes:dreamConfirmModal.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $('#btnDreamSubmit').click(function(){
            $('#create-dream-form').get(0).submit();
        });

        $(function() {
            $( "#newDreamForm_expiredDate" ).datepicker({"dateFormat": "dd.mm.yy", "regional": "uk"});
        });

        $(document).ready(function() {
            $('ul.help-block li a').hide();
        });
    </script>
{% endblock %}
