{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - Пошук
{% endblock title %}

{% block content %}
    <h3 style="display: inline-block;">Ви шукали: <strong>{{ search_text }}</strong></h3> <span style="font-size: 110%; font-style: italic; margin-left: 10px;">( Знайдено: {{ dreams|length }} співпадань.)</span>
    <div class="row">
        {% for dream in dreams %}
            <div class="col-md-6" style="margin-bottom: 10px; display: inline-block; vertical-align: bottom; min-height: 220px;">
                <div style="float: left;">
                    <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" width="145" height="100">
                </div>
                <p style="margin-left: 155px; margin-bottom: 0; font-weight: bold; font-size: 150%; padding: 0;">
                    <a href="{{ path('view_dream', {'slug': dream.slug}) }}" style=" color: #000000;  font-size: 130%">{{ displayLimitWord(dream.title, 5, true) }}</a>
                </p>
                <p  style="margin-left: 155px; margin-bottom: 0; padding: 0; text-align: justify; font-size: 130%;">
                    {{ displayLimitWord(dream.description, 27) }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
