{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - Пошук
{% endblock title %}

{% block content %}
    <div id="statics">
        <div id="search">
            <h3>Ви шукали: <strong>{{ search_text }}</strong></h3>
            <span>( Знайдено: {{ dreams|length }} співпадінь.)</span>
            <ul>
                {% for dream in dreams %}
                    <li class="{{ cycle(['odd', 'even'], loop.index) }}">
                        <a href="{{ path('view_dream', {'slug': dream.slug}) }}">
                            <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" width="145" height="100">
                        </a>
                        <div>
                            <h4><a href="{{ path('view_dream', {'slug': dream.slug}) }}">{{ displayLimitWord(dream.title, 5, true) }}</a></h4>
                            <p>
                                {{ displayLimitWord(dream.description, 27) }}
                            </p>

                        </div>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
