{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - {{ dream.title }}
{% endblock title %}

{% block headTag %}
    <meta property="og:title" content="{{ dream.title }}" />
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="585525414874120" />
    <meta property="og:url" content="{{ url('view_dream', {'slug': dream.slug}) }}" />
    <meta property="og:image" content="{{ dream.mediaPoster|mediaPath|imagine_filter('social_share_image', true) }}" />
    <meta property="og:description" content="{{ displayLimitWord(dream.description, 20) }}" />
{% endblock headTag %}

{% block content %}
    <div id="dream">
        <div id="dream-details">
            {{ include('GeekhubDreamBundle:includes:showDreamMediaBlock.html.twig', {dream: dream}) }}

            <div class="details-content">
                <div class="sidebar">
                    <div class="creator">
                        <img src="{{ dream.author.avatar|mediaPath|imagine_filter('userAvatar') }}" class="showAvatar">
                        <a href="{{ path('profile_view', {'id': dream.author.id}) }}" style="color: #33333F;">
                            {{ dream.author.firstName }} {{ dream.author.lastName }}
                        </a>
                    </div>
                    {{ include('GeekhubDreamBundle:includes:showDreamContributDescript.html.twig', { dream: dream } ) }}
                    {{ include('GeekhubDreamBundle:includes:showDreamResource.html.twig', {dream: dream}) }}

                    <div class="tags">
                        <h3>{{ 'tags'|trans }}</h3>
                        {% for tag in dream.tags %}
                            <p class="pull-left" style="padding-right: 10px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;
                                <a href="{{ path('dream_by_tag', {'tag': tag.name}) }}" style=" color: #000000;">{{ tag.name }}</a>
                            </p>
                        {% endfor %}
                    </div>

                    <div style="display: block; margin-top: 70px;">
                        <h3>Поділитись через:</h3>

                        <a onclick="Share.vkontakte(
                                '{{ url('view_dream', {'slug': dream.slug}) }}'
                                )" style="text-decoration: none; cursor: pointer" title="Вконтакті">
                            <i class="icon icon-vkontakte"></i>
                        </a>

                        <a onclick="Share.facebook(
                                '{{ url('view_dream', {'slug': dream.slug}) }}'
                                )" style="text-decoration: none; cursor: pointer" title="Фейсбук">
                            <i class="icon icon-facebook"></i>
                        </a>

                        <a onclick="Share.odnoklassniki(
                                '{{ url('view_dream', {'slug': dream.slug}) }}',
                                '{{ dream.title }}'
                                )" style="text-decoration: none; cursor: pointer" title="Однокласники">
                            <i class="icon icon-odnoklassniki"></i>
                        </a>

                        <a onclick="Share.twitter(
                                '{{ url('view_dream', {'slug': dream.slug}) }}',
                                '{{ dream.title }}'
                                )" style="text-decoration: none; cursor: pointer" title="Твіттер">
                            <i class="icon icon-twitter"></i>
                        </a>

                    </div>

                    {{ include ('GeekhubDreamBundle:includes:dreamStatusCompletedModal.html.twig') }}
                    {{ include ('GeekhubDreamBundle:includes:dreamAdminContactsForAuthor.html.twig') }}
                </div>
                <div class="details">

                    {{ include('GeekhubDreamBundle:includes:viewDreamStatusDetailsAndControls.html.twig', {dream: dream}) }}

                    {{ include('GeekhubDreamBundle:includes:showDreamParticipants.html.twig', {dream: dream}) }}

                    {{ include('GeekhubDreamBundle:includes:showDreamComments.html.twig', {dream: dream}) }}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        ;var Share = {
            vkontakte: function(purl, ptitle, pimg, text) {
                url  = 'http://vk.com/share.php?';
                url += 'url=' + encodeURIComponent(purl);
                Share.popup(url);
            },
            odnoklassniki: function(purl, text) {
                url  = 'http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1';
                url += '&st.comments=' + encodeURIComponent(text);
                url += '&st._surl='    + encodeURIComponent(purl);
                Share.popup(url);
            },
            facebook: function(purl) {
                url  = 'http://www.facebook.com/sharer/sharer.php?';
                url += 'u=' + encodeURIComponent(purl);
                Share.popup(url);
            },
            twitter: function(purl, ptitle) {
                url  = 'http://twitter.com/share?';
                url += 'text='      + encodeURIComponent(ptitle);
                url += '&url='      + encodeURIComponent(purl);
                url += '&counturl=' + encodeURIComponent(purl);
                Share.popup(url);
            },
            popup: function(url) {
                window.open(url,'','toolbar=0,status=0,width=626,height=436');
            }
        };

        $(function(){
            $(".dream-header .gallery-item").fancybox();
            $(".dream-header .video").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none'
            });

            $("#imgUploadCompleted").click(function(){
                var url = Routing.generate('dream_ajax_load_completed_image');
                $('#imgUploadCompleted').fileupload({
                    url: url,
                    dataType: 'json',
                    done: function (e, data) {
                        var responseArr = JSON.parse(data.jqXHR.responseText);
                        $.each(responseArr, function (index, file) {
                            if(file.error){
                                console.log('file error ' + file.src + ' error: ' + file.error);

                                return;
                            }
                            if(file.type == 'image' && file.error == null) {
                                console.log('f src = ' + file.src);
                                $('#completedPicturesContainer').append('<img src="' + file.srcPreview + '" class="img-thumbnail">');
                                $('#completingDreamForm_dreamPictures').get(0).value += ',' + file.src;
                            }
                            if(file.type == 'file' && file.error == null) {
                                console.log('tyt nas ne dolgno but :)');
                            }
                        });
                    },
                    error: function(msg) {
                        console.log('error = ' + msg);
                        console.dir(msg);
                    }
                });
            });

        });
    </script>
{% endblock %}
