{% extends 'GeekhubDreamBundle:includes:homePageLoadDream.html.twig' %}
{% block dream_bottom %}
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ dream.financialCompleted }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ dream.financialCompleted }}%">
                <span class="sr-only">FinancialComplete</span>
                </div>
            </div>
            <div class="progress">
                 <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ dream.equipmentCompleted }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ dream.equipmentCompleted }}%">
                 <span class="sr-only">EquipmentComplete</span>
                 </div>
            </div>
            <div class="progress">
                 <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ dream.workCompleted }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ dream.workCompleted }}%">
                 <span class="sr-only">Work Complete</span>
                 </div>
            </div>
            <a href="{{ path('view_dream', {'slug': dream.slug}) }}"><button type="button" class="btn btn-default">Підтримати</button></a>

{% endblock dream_bottom %}