{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - {{ dream.title }}
{% endblock title %}

{% block content %}
    <div id="dream">
        <div id="dream-details">
            {{ include('GeekhubDreamBundle:includes:showDreamMediaBlock.html.twig', {dream: dream}) }}

            <div class="details-content">
                <div class="sidebar">
                    <div class="creator">
                        <img src="{{ dream.author.avatar|mediaPath|imagine_filter('userAvatar') }}" class="showAvatar">
                        <a href="{{ path('profile_view', {'id': dream.author.id}) }}" style="color: #33333F;">
                            {{ dream.author.firstName }} {{ dream.author.lastName }}
                        </a>
                    </div>
                    {{ include('GeekhubDreamBundle:includes:showDreamContributDescript.html.twig', { dream: dream } ) }}
                    {{ include('GeekhubDreamBundle:includes:showDreamResource.html.twig', {dream: dream}) }}

                    <div class="tags">
                        <h3>{{ 'tags'|trans }}</h3>
                        {% for tag in dream.tags %}
                            <p class="pull-left" style="padding-right: 10px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;
                                <a href="{{ path('dream_by_tag', {'tag': tag.name}) }}" style=" color: #000000;">{{ tag.name }}</a>
                            </p>
                        {% endfor %}
                    </div>

                    {{ include ('GeekhubDreamBundle:includes:dreamStatusCompletedModal.html.twig') }}
                    {{ include ('GeekhubDreamBundle:includes:dreamAdminContactsForAuthor.html.twig') }}
                </div>
                <div class="details">

                    {{ include('GeekhubDreamBundle:includes:viewDreamStatusDetailsAndControls.html.twig', {dream: dream}) }}

                    {{ include('GeekhubDreamBundle:includes:showDreamParticipants.html.twig', {dream: dream}) }}

                    {{ include('GeekhubDreamBundle:includes:showDreamComments.html.twig', {dream: dream}) }}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>

//        $(document).ready(function() {
//            if ($('.video object').get(0)) {
//                $('.video object').get(0).width=307;
//                $('.video object').get(0).height=173;
//                $('.video object embed').get(0).width=307;
//                $('.video object embed').get(0).height=173;
//            }
//        });
        $(function(){
            $(".dream-header .gallery-item").fancybox();
            $(".dream-header .video").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none'
            });


            $("#imgUploadCompleted").click(function(){
                var url = Routing.generate('dream_ajax_load_completed_image');
                $('#imgUploadCompleted').fileupload({
                    url: url,
                    dataType: 'json',
                    done: function (e, data) {
                        var responseArr = JSON.parse(data.jqXHR.responseText);
                        $.each(responseArr, function (index, file) {
                            if(file.error){
                                console.log('file error ' + file.src + ' error: ' + file.error);

                                return;
                            }
                            if(file.type == 'image' && file.error == null) {
                                console.log('f src = ' + file.src);
                                $('#completedPicturesContainer').append('<img src="' + file.srcPreview + '" class="img-thumbnail">');
                                $('#completingDreamForm_dreamPictures').get(0).value += ',' + file.src;
                            }
                            if(file.type == 'file' && file.error == null) {
                                console.log('tyt nas ne dolgno but :)');
                            }
                        });
                    },
                    error: function(msg) {
                        console.log('error = ' + msg);
                        console.dir(msg);
                    }
                });
            });

        });
    </script>
{% endblock %}
