{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block content %}

    {{ include('GeekhubDreamBundle:includes:showDreamMediaBlock.html.twig', {dream: dream}) }}

    {{ include('GeekhubDreamBundle:includes:showDreamContributDescript.html.twig', { dream: dream } ) }}

    <div class="row">
        <div class="col-md-4">
            {# Resources start #}
                {{ include('GeekhubDreamBundle:includes:showDreamResource.html.twig', {dream: dream}) }}
            {# Resources end #}
        </div>

        <div class="col-md-8">

            {# participants start #}
                {{ include('GeekhubDreamBundle:includes:showDreamParticipants.html.twig', {dream: dream}) }}
            {# participants end #}
            <br/>
            {# comments start #}
                {{ include('GeekhubDreamBundle:includes:showDreamComments.html.twig', {dream: dream}) }}
            {# comments end #}

        </div>

    </div>
    {{ include ('GeekhubDreamBundle:includes:dreamStatusImplementModal.html.twig') }}
    {{ include ('GeekhubDreamBundle:includes:dreamStatusCompletedModal.html.twig') }}
    {{ include ('GeekhubDreamBundle:includes:dreamAdminContactsForAuthor.html.twig') }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var finFormHide = function(){
            $('#finFormContributor').hide();
        };
        var equipFormHide = function(){
            $('#equipFormContributor').hide();
        };
        var workFormHide = function(){
            $('#workFormContributor').hide();
        };
        var otherFormHide = function(){
            $('#otherFormContributor').hide();
        };

        var finFormShow = function() {
            $('#finFormContributor').fadeIn(500).show();
        };
        var equipFormShow = function() {
            $('#equipFormContributor').fadeIn(500).show();
        };
        var workFormShow = function() {
            $('#workFormContributor').fadeIn(500).show();
        };
        var otherFormShow = function() {
            $('#otherFormContributor').fadeIn(500).show();
        };

        $(document).ready(function(){
            if ($('#video object').get(0)) {
                $('#video object').get(0).width='100%';
                $('#video object').get(0).height=250;
                $('#video object embed').get(0).width='100%';
                $('#video object embed').get(0).height=250;
            }
//            $('#video object embed').attr({wmode:"opaque"});
            finFormHide();
            equipFormHide();
            workFormHide();
            otherFormHide();

            $("#imgUploadCompleted").click(function(){
                var url = Routing.generate('dream_ajax_load_completed_image');
                $('#imgUploadCompleted').fileupload({
                    url: url,
                    dataType: 'json',
                    done: function (e, data) {
                        var responseArr = JSON.parse(data.jqXHR.responseText);
                        $.each(responseArr, function (index, file) {
                            if(file.error){
                                console.log('file error ' + file.src + ' error: ' + file.error);

                                return;
                            }
                            if(file.type == 'image' && file.error == null) {
                                console.log('f src = ' + file.src);
                                $('#completedPicturesContainer').append('<img src="' + file.srcPreview + '" class="img-thumbnail">');
                                $('#completingDreamForm_dreamPictures').get(0).value += ',' + file.src;
                            }
                            if(file.type == 'file' && file.error == null) {
                                console.log('tyt nas ne dolgno but :)');
                            }
                        });
                    },
                    error: function(msg) {
                        console.log('error = ' + msg);
                        console.dir(msg);
                    }
                });
            });

        });

        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };

        $('#finFormContributorShow').click(function(){
            finFormShow();
            equipFormHide();
            workFormHide();
            otherFormHide();
        });
        $('#equipFormContributorShow').click(function(){
            finFormHide();
            equipFormShow();
            workFormHide();
            otherFormHide();
        });
        $('#workFormContributorShow').click(function(){
            finFormHide();
            equipFormHide();
            workFormShow();
            otherFormHide();
        });
        $('#otherFormContributorShow').click(function(){
            finFormHide();
            equipFormHide();
            workFormHide();
            otherFormShow();
        });

        $('#finButCancel').click(function(){
            finFormHide();
        });
        $('#equipButCancel').click(function(){
            equipFormHide();
        });
        $('#workButCancel').click(function(){
            workFormHide();
        });
        $('#otherButCancel').click(function(){
            otherFormHide();
        });
    </script>
{% endblock %}
