{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/dream_css.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dream_gallery.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    {{ include('GeekhubDreamBundle:includes:homePageSlider.html.twig', {completedDreams: completedDreams}) }}
    
    <div>
        {% for dream in dreams %}
            <div class="dream-homepage-preview">
                <div class="dream-homepage-preview-header">
                    <div class="dream-homepage-preview-header-favorite">
                        <span class="glyphicon glyphicon-star" style="color: yellow; font-size: 130%;" ></span>
                        {#<img src="{{ asset('images/favorite-white.png') }}" alt="Symfony!" id="addDreamToFavorite"/>#}
                    </div>
                    <h4 title="{{ dream.title }}">
                        {{ dream.title }}
                    </h4>
                </div>
                <div class="dream-homepage-preview-body">
                    <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_poster_homePage') }}" class="img-thumbnail">
                    <div class="showHomePageAvatar-wrapper"> {# Avatar #}
                        <img src="{{ dream.author.avatar|mediaPath|imagine_filter('userAvatar_small') }}">
                        <p class="showHomePageAvatar-fio">{{ dream.author.firstName }} {{ dream.author.lastName }}</p>
                    </div>
                </div>
                <div class="dream-homepage-preview-footer">
                        <a href="{{ path('view_dream', {'slug': dream.slug} ) }}" class="btn btn-sm btn-default">Детальніше</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.dream-homepage-preview-header-favorite').click(function(event){
                if(event.target.tagName.toLowerCase() === 'span'){
                    var itemObj = $(event.target);

                    itemObj.css({color:'red'});
                }
            });

        });

    </script>
{% endblock %}
