{% extends 'GeekhubResourceBundle::layout.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('bundles/geekhubresource/css/main.css') }}" rel="stylesheet">
     <link href="{{ asset('bundles/geekhubresource/css/dreams-tiles.css') }}" rel="stylesheet">
 {% endblock %}

{% block title %}
    Черкаська мрія - Головна
{% endblock title %}

{% block content %}

    {{ include('GeekhubDreamBundle:includes:homePageSlider.html.twig', {completedDreams: completedDreams}) }}

    <div>
        <div id="added_success"></div>

        <div id="dreams" class="loading"></div>
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var isLoading = false;

        var loadDreams = function (startIndex) {
            if (isLoading)
                return;
            isLoading = true;

            var container = $('#dreams');
            var path = Routing.generate('api_v1_get_dreams');

            container.addClass('loading');

            $.get(path, {offset: startIndex, statuses: ['collecting-resources', 'implementing', 'success'], orderBy: 'favoritesCount' })
                    .done(function (response) {
                        isLoading = false;
                        container.removeClass('loading');
                        $(response).appendTo(container).hide().fadeIn(300);
                    })
                    .error(function (msg) {
                        isLoading = false;
                        container.removeClass('loading');
                        console.log(msg);
                    }
            );
        };

        $(document).ready(function() {
            var startIndex = 0;
            loadDreams(startIndex);

            $(window).scroll(function() {
                if($(window).height() + $(window).scrollTop() >= $(document).height()) {
                    startIndex += 8;
                    loadDreams(startIndex);
                    console.log('end document scrolled');
                }
            });
            if (localStorage.getItem('newDreamPoster')) {
                localStorage.removeItem('newDreamPoster');
            }

            if (localStorage.getItem('newDreamMediaFiles')) {
                localStorage.removeItem('newDreamMediaFiles');
            }
        });

    </script>

{% endblock %}
