<div class="row">
    {{ include ('GeekhubUserBundle:User:dream_miniature.html.twig', {'dream': dream}) }}
    <div class="col-md-3">
        <ul>

            {{ finContribute(user, dream)|raw }}
            {{ equipContribute(user, dream)|raw }}
            {{ workContribute(user, dream)|raw }}
            {{ otherContribute(user, dream)|raw }}

        </ul>
    </div>
</div>
