{% extends "GeekhubUserBundle::layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block fos_user_content %}
    {% for flashMessage in app.session.flashbag.get('locked') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row" style="text-align: center;">
        <p>
            {{ 'not_login'|trans }}
        </p>
        <p>
            <a href="{{ path('facebook_login') }}">
                <i class="icon icon-facebook"></i>
            </a>
            <a href="{{ path('odnoklassniki_login') }}">
                <i class="icon icon-odnoklassniki"></i>
            </a>
            <a href="{{ path('vkontakte_login') }}">
                <i class="icon icon-vkontakte"></i>
            </a>
        </p>
        </div>
    </div>

{% endblock fos_user_content %}
