{% extends "GeekhubResourceBundle::layout.html.twig" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="content page-edit-profile page-green-shadow">
    <form method="POST" enctype="multipart/form-data" action="{{ path('profile_update_contacts') }}">
        <div class="row">
            <div class="col-md-4">
                {# media avatar, 'big' #}
                {# form_widget(form.avatar) #}
                {% if user.avatar is not null %}
                    <div id="user-avatar-image" class="main-photo active">
                {% else %}
                    <div id="user-avatar-image" class="main-photo">
                {% endif %}
                    <div class="photo-holder">
                        <span class="icon"></span>
                        <span class="title required">Аватар</span>
                    </div>
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}">
                    <input id="dream_poster" type="file" name="dream-poster">
                </div>
              
                <div id="errors" class="files"></div>
            </div>
            
            <div class="col-md-8">
                <ul class="user-info-list">
                    <li class="input-block name-block">
                        <label class="label required">Ім’я</label>
                        {{ form_widget(form.firstName, {'attr': {'placeholder': "Ім’я"}}) }}
                    </li>
                    <li class="input-block name-block">
                        <label class="label required">Прізвище</label>
                        {{ form_widget(form.lastName, {'attr': {'placeholder': 'Прізвище'}}) }}
                    </li>
                    <li class="input-block phone-block">
                        <label class="label required">Телефон</label>
                        {{ form_widget(form.phone, {'attr': {'placeholder': '(888) 888 88 88'}}) }}
                    </li>
                    <li class="input-block">
                        <label class="label required">Email</label>
                        {# set form.vars.value.email = '' #}
                        {{ form_widget(form.email) }}
                    </li>
                    <li class="buttons-block">
                        <button type="submit" class="custom-btn btn-green" name="_submit">Зберегти</button>
                    </li>
                    <li>
                        {{ form_errors(form) }}
                        {{ form_rest(form) }}
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div> <!--/Content-->

{% endblock content %}

{% block javascript %}
  {{ parent() }}

{% endblock javascript %}