{% extends "GeekhubResourceBundle::layout.html.twig" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="content page-edit-profile page-green-shadow">
    <form method="POST" enctype="multipart/form-data" action="{{ path('profile_edit') }}">
        <div class="row">
            <div class="col-md-4">
                
                {# media avatar, 'big' #}
                <div id="user-avatar-image" class="main-photo {{ user.avatar ? 'active' }}">
                    <div class="photo-holder">
                        <span class="icon"></span>
                        <span class="title required">Аватар</span>
                    </div>
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}">
                    <input id="dream_poster" type="file" name="dream-poster">
                </div>
                
                <div id="errors" class="files"></div>
                
                <ul class="contacts-list">
                    <li class="input-block">
                        <label class="label">Телефон</label>
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </li>
                    <li class="input-block">
                        <label class="label">Skype</label>
                        {{ form_widget(form.skype) }}
                        {{ form_errors(form.skype) }}
                    </li>
                    <li class="input-block">
                        <label class="label">Email</label>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </li>
                    {#
                    <li class="input-block">
                        <label class="label">Facebook</label>
                        {{ form_widget(form.facebookUrl) }}
                        {{ form_errors(form.facebookUrl) }}
                    </li>
                    <li class="input-block">
                        <label class="label">Vkontakte</label>
                        {{ form_widget(form.vkontakteUrl) }}
                        {{ form_errors(form.vkontakteUrl) }}
                    </li>
                    <li class="input-block">
                        <label class="label">Odnoklassniki</label>
                        {{ form_widget(form.odnoklassnikiUrl) }}
                        {{ form_errors(form.odnoklassnikiUrl) }}
                    </li>
                    #}
                </ul>
                {{ form_widget(form.avatar) }}
            </div>
            
            <div class="col-md-8">
                <ul class="user-info-list">
                    <li class="input-block">
                        <label class="label">Ім’я</label>
                        {{ form_widget(form.firstName, {'attr': {'placeholder': "Ім’я"}}) }}
                        {{ form_errors(form.firstName) }}
                    </li>
                    <li class="input-block">
                        <label class="label">Прізвище</label>
                        {{ form_widget(form.lastName, {'attr': {'placeholder': 'Прізвище'}}) }}
                        {{ form_errors(form.lastName) }}
                    </li>
                    
                    <li class="input-block">
                        <label class="label">Дата народження</label>
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_widget(form.birthday.day, {'attr': {'class': 'input-view'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(form.birthday.month, {'attr': {'class': 'input-view'}}) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(form.birthday.year, {'attr': {'class': 'input-view'}}) }}
                            </div>
                            {{ form_errors(form.birthday) }}
                        </div>
                    </li>
                    
                    <li class="input-block">
                        <label class="label">Про себе</label>
                        <div class="description-wrap">
                            <div class="description">
                                {{ form_widget(form.about) }}
                                {{ form_errors(form.about) }}
                            </div>
                        </div>
                    </li>
                    
                    <li class="buttons-block">
                        <button name="_submit" type="submit" class="custom-btn btn-green">Зберегти</button>
                    </li>
                    <li class="no-display">
                        {{ form_rest(form) }}
                    </li>
                </ul>
            </div>
            
        </div>
    </form>
</div> <!--/Content-->

{% endblock content %}

{% block javascript %}
  {{ parent() }}
  {{ tinymce_init() }}

{% endblock javascript %}
