{% extends "GeekhubResourceBundle::layout.html.twig" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
        <div style="padding: 5% 0;">
        <form method="POST" enctype="multipart/form-data" action="{{ path('profile_edit') }}">
          <div class="row">
            <div class="col-md-5">
            <div class="fileinput-button" id="user-avatar-image">
                <div id="user-avatar-container">
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}" class="img-thumbnail">
                    <input id="dream_poster" type="file" name="dream-poster">
                </div>
            </div>
            <div id="errors" class="files">
            </div>
             {# media avatar, 'big' #}
             {{ form_widget(form.avatar) }}
             {{ form_label(form.phone) }}
             {{ form_widget(form.phone) }}
             {{ form_label(form.skype) }}
             {{ form_widget(form.skype) }}
             {{ form_label(form.email) }}
             {{ form_widget(form.email) }}
             {{ form_label(form.facebookUrl) }}
             {{ form_widget(form.facebookUrl) }}
             {{ form_label(form.vkontakteUrl) }}
             {{ form_widget(form.vkontakteUrl) }}
             {{ form_label(form.odnoklassnikiUrl) }}
             {{ form_widget(form.odnoklassnikiUrl) }}
            </div>
            <div class="col-md-7">
              <label class="control-label">{{ 'user.first_and_lastname'|trans }}</label>
               <div class="row">
                <div class="col-md-6">
                  {{ form_widget(form.firstName) }}
                </div>
                <div class="col-md-6">
                  {{ form_widget(form.lastName) }}
                </div>
              </div>
              {{ form_label(form.birthday) }}
               <div class="row">
                <div class="col-md-3">
                    {{ form_widget(form.birthday.day) }}
                  </div>
                  <div class="col-md-3">
                    {{ form_widget(form.birthday.month) }}
                  </div>
                  <div class="col-md-3">
                    {{ form_widget(form.birthday.year) }}
                  </div>
                </div>

              {{ form_label(form.about) }}
              {{ form_widget(form.about, {'attr': {'rows': 25}}) }}
              {{ form_rest(form) }}
            </div>
          </div>
          <div class="row center">
           <input type="submit" class="btn btn-primary" value="{{ 'user.save'|trans }}">
          </form>
          </div>
        </div>
    </div>

{% endblock content %}
