{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}View profile{% endblock %}


{% block content %}
    <div style="margin-top: 50px;">
        <div style="padding: 5% 0;">
            <div class="row">

                <div class="col-md-3">
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}" class="img-thumbnail">
                    {% if user.phone %}
                        <a href="callto:{{ user.phone }}"><i class="icon-phone-circled"></i></a>
                    {% endif %}

                    {% if user.skype %}
                        <a href="skype:{{ user.skype }}?call" class="skype"><span class="icon icon-skype"></span></a>
                    {% endif %}

                    {% if user.email %}
                        <a href="mailto:{{ user.email }}"><i class="icon-mail"></i></a>
                    {% endif %}

                    {% if user.facebookId %}
                        <a href="{{ user.getFacebookUrl }}"><i class="icon-facebook"></i></a>
                    {% endif %}

                    {% if user.vkontakteId %}
                        <a href="{{ user.getVkontakteUrl }}"><i class="icon-vkontakte"></i></a>
                    {% endif %}

                    {% if user.odnoklassnikiId %}
                        <a href="{{ user.getOdnoklassnikiUrl }}"><i class="icon-odnoklassniki"></i></a>
                    {% endif %}
                </div>

                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-7">
                            <h2> {{user.firstName}} {{user.lastName}}</h2>
                        </div>

                        <div class="col-md-3">
                            <p> {{ user.birthday|date("d M Y", "Europe/Kiev")|trans }} </p>
                        </div>

                        {% if app.user is same as(user) %}
                            <a href="{{path('profile_edit')}}"><div class="btn btn-primary">Редагувати</div></a>
                        {% endif %}

                        <p> {{ user.about|raw }} </p>
                    </div>

                    {% if userDreams is not empty %}
                        <div class="row">
                            <div class="col-md-7">
                              <h4>Автор проектів: </h4>
                            </div>

                            <div class="btn btn-primary" id="any"> Усі мрії </div>
                            <div class="btn btn-primary" id="projects"> На стадії проекту </div>
                            <div class="btn btn-primary" id="implemented"> Втілені </div>
                        </div>
                        <div class="row">
                            <div id="user-dreams">
                                {% for dream in userDreams %}
                                    {{ include ('GeekhubUserBundle:User:dream_miniature.html.twig', {'dream': dream}) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if contributedDreams is not empty %}
                        <div class="row">
                            <h4>Учасник проектів: </h4>
                        </div>
                        <div class="row">
                            {% for dream in contributedDreams %}
                                {{ include ('GeekhubUserBundle:User:dream_contribution_miniature.html.twig', {'dream': dream, 'userId': user.id}) }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if user.favoriteDreams is not empty %}
                        <div class="row">
                            <h4>Favs: </h4>
                        </div>

                        <div class="row">
                            {% for dream in user.favoriteDreams %}
                                {{ include ('GeekhubUserBundle:User:dream_miniature.html.twig', {'dream': dream}) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div> {# class="col-md-8" right col #}
            </div> {# class=row (main row) #}
        </div> {# style=padding 5% #}
    </div> {# margin-top 50px#}

{% endblock content %}

{% block javascript %}

    {{ parent() }}
    <script>
        $('#any').on("click",function() {
            $.ajax({
                type: "POST",
                url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'any'})}}",
                data: "data=0",
                cache: false,
                success: function(html){
                    $("#user-dreams").html(html);
                },
                error: function (html) {
                    $("#user-dreams").html('No dreams yet');
                }
            });
        });

        $('#projects').on("click",function() {
            $.ajax({
                type: "POST",
                url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'projects'})}}",
                data: "data=0",
                cache: false,
                success: function(html){
                    $("#user-dreams").html(html);
                },
                error: function (html) {
                    $("#user-dreams").html('No dreams yet');
                }
            });
        });

        $('#implemented').on("click",function() {
            $.ajax({
                type: "POST",
                url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'implemented'})}}",
                data: "data=0",
                cache: false,
                success: function(html){
                    $("#user-dreams").html(html);
                },
                error: function (html) {
                    $("#user-dreams").html('No dreams yet');
                }
            });
        });

    </script>
{% endblock javascript %}
