{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}View profile{% endblock %}


{% block content %}
        <div style="margin-top: 50px;">
          <div style="padding: 5% 0;">
           <div class="row">
 
             <div class="col-md-3">
              <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}" class="img-thumbnail">
               {% if user.phone is not null %}
                <a href="mailto:{{ user.contacts.phone }}"><div class="icon-phone-circled"></div></a>
               {% endif %}
               {% if user.skype is not null %}
               <a href="skype:{{ user.contacts.skype }}"><div class="icon-skype"></div></a>
               {% endif %}
               {% if user.email is not null %}
               <a href="mailto:{{ user.email }}"><div class="icon-mail"></div></a>
               {% endif %}
               {% if user.facebookUrl is not null %}
               <a href="{{ user.facebookUrl }}"><div class="icon-facebook-circled"></div></a>
               {% endif %}
               {% if user.vkontakteUrl is not null %}
               <a href="{{ user.vkontakteUrl }}"><div class="icon-vkontakte-rect"></div></a>
               {% endif %}
               {% if user.odnoklassnikiUrl is not null %}
               <a href="{{ user.odnoklassnikiId }}"><div class="icon-odnoklassniki-rect"></div></a>
               {% endif %}
             </div>
             <div class="col-md-8">
              <div class="row">
                <div class="col-md-7"><h2> {{user.firstName}} {{user.lastName}}</h2> </div>
                <div class="col-md-3">
                   <p> {{ user.birthday|date("d M Y", "Europe/Kiev")|trans }} </p>
                </div>
                {% if app.user is same as(user) %}
                 <a href="{{path('profile_edit')}}"><div class="btn btn-primary">Редагувати</div></a>
                {% endif %}
                <p> {{ user.about }} </p>
             </div>
             <div class="row">
                <div class="col-md-7">
                  <h4>Автор проектів: </h4>
                </div>
                <div class="btn btn-primary" id="submitted"> На стадії проекту </div>
                <div class="btn btn-primary" id="completed"> Втілені </div>
             </div>   
             <div class="row">
              <div id="user-dreams">
               {% for dream in user.dreams %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': dream}) }}
               {% endfor %}
              </div>
             </div>
             <div class="row">
               <h4>Учасник проектів: </h4>
             </div>
             <div class="row">
               {% for dream in contributedDreams %}
               {{ include ('GeekhubUserBundle:User:dream_contrib_min.html.twig', {'dream': dream}) }}
               {% endfor %}
             </div>
             <div class="row">
               <h4>Favs: </h4>
             </div>
             <div class="row">
               {% for dream in user.favoriteDreams %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': dream}) }}
               {% endfor %}
             </div>
           </div>
          </div>
        </div>
    
{% endblock content %}

{% block javascript %}

   {{ parent() }}
   <script>
   $('#submitted').on("click",function() {
         $.ajax({
            type: "POST",
            url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'submitted'})}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#user-dreams").html(html);
            }
            error: function (html) {
                $("#user-dreams").html('');
            }
        });
   });
   $('#completed').on("click",function() {
         $.ajax({
            type: "POST",
            url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'completed'})}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#user-dreams").html(html);
            }
            error: function (html) {
                $("#user-dreams").html('');
            }
        });
   });


</script>
{% endblock javascript %}