{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block body %}
    <div class="container" id="wrap">
        {% include 'GeekhubResourceBundle:includes:menu.html.twig' %}

        <div style="margin-top: 50px;">
          <div style="padding: 5% 0;">
           <div class="row">
 
             <div class="col-md-3">
              {% media user.avatar, 'normal' %}
               {% if user.contacts.phone is not null %}
                <a href="mailto:{{ user.contacts.phone }}"><div class="icon-phone-circled"></div></a>
               {% endif %}
               {% if user.contacts.skype is not null %}
               <a href="skype:{{ user.contacts.skype }}"><div class="icon-skype"></div></a>
               {% endif %}
               {% if user.email is not null %}
               <a href="mailto:{{ user.email }}"><div class="icon-mail"></div></a>
               {% endif %}
               {% if user.facebookId is not null %}
               <a href="http://facebook.com/{{ user.facebookId }}"><div class="icon-facebook-circled"></div></a>
               {% endif %}
               {% if user.vkontakteId is not null %}
               <a href="http://vk.com/id{{ user.vkontakteId }}"><div class="icon-vkontakte-rect"></div></a>
               {% endif %}
               {% if user.odnoklassnikiId is not null %}
               <a href="http://odnoklassniki.ru/{{ user.odnoklassnikiId }}"><div class="icon-odnoklassniki-rect"></div></a>
               {% endif %}
               <p>messages...</p>
             </div>
             <div class="col-md-7">
              <div class="row">
                <p> {{user.firstName}} {{user.lastName}}</p>
                {% if app.user is same as(user) %}
                <p> <a href="{{path('profile_edit')}}">Редагувати</a></p>
                {% endif %}
                <p> {{ user.birthday|date("d M Y", "Europe/Kiev")|trans }} </p>
                <p> {{ user.about }} </p>
             </div>
             <div class="row">
               Автор проектів: 
               {% for dream in user.dreams %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': dream}) }}
               {% endfor %}
             </div>
             <div class="row">
               Учасник проектів: 
               {% for dream in user.contributions %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': dream}) }}
               {% endfor %}
             </div>
             <div class="row">
               Favs: 
               {% for contribute in user.favoriteDreams %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': contribute.dream}) }}
               <p>{{ contribute.description }} (сколько??? единиц???)</p>
               {% endfor %}
             </div>
           </div>
          </div>
        </div>
    </div>
    
{% endblock body %}