{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block body %}
    <div class="container" id="wrap">
        {% include 'GeekhubResourceBundle:includes:menu.html.twig' %}

        <div style="margin-top: 50px;">
          <div style="padding: 5% 0;">
           <div class="row">
 
             <div class="col-md-3">
              <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}" class="img-thumbnail">
               {% if user.phone is not null %}
                <a href="mailto:{{ user.contacts.phone }}"><div class="icon-phone-circled"></div></a>
               {% endif %}
               {% if user.skype is not null %}
               <a href="skype:{{ user.contacts.skype }}"><div class="icon-skype"></div></a>
               {% endif %}
               {% if user.email is not null %}
               <a href="mailto:{{ user.email }}"><div class="icon-mail"></div></a>
               {% endif %}
               {% if user.facebookUrl is not null %}
               <a href="{{ user.facebookUrl }}"><div class="icon-facebook-circled"></div></a>
               {% endif %}
               {% if user.vkontakteUrl is not null %}
               <a href="{{ user.vkontakteUrl }}"><div class="icon-vkontakte-rect"></div></a>
               {% endif %}
               {% if user.odnoklassnikiUrl is not null %}
               <a href="{{ user.odnoklassnikiId }}"><div class="icon-odnoklassniki-rect"></div></a>
               {% endif %}
               <p>messages...</p>
             </div>
             <div class="col-md-7">
              <div class="row">
                <p> {{user.firstName}} {{user.lastName}}</p>
                {% if app.user is same as(user) %}
                <p> <a href="{{path('profile_edit')}}">Редагувати</a></p>
                {% endif %}
                <p> {{ user.birthday|date("d M Y", "Europe/Kiev")|trans }} </p>
                <p> {{ user.about }} </p>
             </div>
             <div class="row">
               Автор проектів: 
               {% for dream in user.dreams %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': dream}) }}
               {% endfor %}
             </div>
             <div class="row">
               Учасник проектів: 
               {% for contribution in user.financialContributions %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': contribution.dream}) }}
               {{ contribution.financialArticle.title }} ({{ contribution.quantity }} грн)
               {% endfor %}
               {% for contribution in user.equipmentContributions %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': contribution.dream}) }}
               {{ contribution.equipmentArticle.title }} ({{ contribution.quantity }} шт.???)
               {% endfor %}
               {% for contribution in user.workContributions %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': contribution.dream}) }}
               {{ contribution.workArticle.title }} ({{contribution.quantity}} чол. ??, {{contribution.quantityDays}} днів)
               {% endfor %}
             </div>
             <div class="row">
               Favs: 
               {% for dream in user.favoriteDreams %}
               {{ include ('GeekhubUserBundle:User:dream_min.html.twig', {'dream': dream}) }}
               {% endfor %}
             </div>
           </div>
          </div>
        </div>
    </div>
    
{% endblock body %}