{% extends 'GeekhubResourceBundle::layout.html.twig' %}

{% block title %}
    Черкаська мрія - Перегляд профіля
{% endblock title %}

{% block content %}
<div class="content page-view-profile">
    <div class="row"> 
        <div class="col-md-4">
            <div class="photo-block">
                <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatarBig') }}">
            </div>
            
            <div class="media-block">
                {% if user.phone is not null %}
                    <a href="callto:{{ user.phone }}" class="phone"><i class="icon icon-phone"></i></a>
                {% endif %}
                {% if user.skype is not null %}
                    <a href="callto:{{ user.skype }}" class="skype"><span class="icon icon-skype"></span></a>
                {% endif %}
                {% if user.email is not null %}
                    <a href="mailto:{{ user.email }}" class="mail"><span class="icon icon-mail"></span></a>
                {% endif %}
                {% if user.facebookUrl is not null %}
                    <a href="{{ user.facebookUrl }}" class="fb"><i class="icon icon-facebook"></i></a>
                {% endif %}
                {% if user.vkontakteUrl is not null %}
                    <a href="{{ user.vkontakteUrl }}" class="vk"><i class="icon icon-vkontakte"></i></a>
                {% endif %}
                {% if user.odnoklassnikiUrl is not null %}
                    <a href="{{ user.odnoklassnikiId }}" class="ok"><i class="icon icon-odnoklassniki"></i></a>
                {% endif %}
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="user-info">
                {% if app.user is same as(user) %}
                    <a href="{{path('profile_edit')}}" class="btn-edit">Редагувати</a>
                {% endif %}
                
                <h1 class="name">{{user.firstName}} {{user.lastName}}</h1>
                <span class="date">{{ user.birthday|date("d M Y", "Europe/Kiev")|trans }}</span>
                
                {% if user.about is not empty %}
                    <div class="description">{{ user.about|raw }}</div>
                {% endif %}
            </div>
            
            {% if userDreams is not empty %}
                <div class="caption-block">
                    <ul class="filters-list">
                        <li><a href="#" id="implemented">Втілені</a></li>
                        <li><a href="#" id="projects">На стадії проекту</a></li>
                        <li><a href="#" id="any">Усі мрії</a></li>
                    </ul>
                    <h2 class="caption">Автор проектів</h2>
                </div>
                
                <ul id="user-dreams" class="dreams-list row">
                    {% for dream in userDreams %}
                        <li class="col-md-6">
                            {{ include ('GeekhubUserBundle:User:dream_miniature.html.twig', {'dream': dream}) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %} 
            
            {% if contributedDreams is not empty %}
                <div class="caption-block">
                    <h2 class="caption">Учасник проектів</h2>
                </div>
                
                <ul class="dreams-list">
                    {% for dream in contributedDreams %}
                        {{ include ('GeekhubUserBundle:User:dream_contribution_miniature.html.twig', {'dream': dream, 'userId': user.id}) }}
                    {% endfor %}
                </ul>
            {% endif %}
            <div id="favorites-block">
            {% if user.favoriteDreams is not empty %}
                <div class="caption-block">
                    <h2 class="caption">Улюблені</h2>
                </div>
                
                <ul class="dreams-list row">
                    {% for dream in user.favoriteDreams %}
                        <li id="dream{{ dream.id }}" class="col-md-6">
                            {{ include ('GeekhubUserBundle:User:dream_favorite_miniature.html.twig', {'dream': dream}) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div> <!--/Content-->
{% endblock content %}

{% block javascript %}

   {{ parent() }}
   <script>
   $('#any').on("click",function() {
         $.ajax({
            type: "POST",
            url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'any'})}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#user-dreams").html(html);
            },
            error: function (html) {
                $("#user-dreams").html('No dreams yet');
            }
        });
   });


   $('#projects').on("click",function() {
         $.ajax({
            type: "POST",
            url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'projects'})}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#user-dreams").html(html);
            },
            error: function (html) {
                $("#user-dreams").html('No dreams yet');
            }
        });
   });
   $('#implemented').on("click",function() {
         $.ajax({
            type: "POST",
            url: "{{path('profile_view_dreams', {'id': user.id, 'status': 'implemented'})}}",
            data: "data=0",
            cache: false,
            success: function(html){
                $("#user-dreams").html(html);
            },
            error: function (html) {
                $("#user-dreams").html('No dreams yet');
            }
        });
   });

    $('#unfavorite').on('click', function(event) {
        console.log('remove from fav');
        var dreamId = $(event.target).data('idmedia')
        var $this = $(this);
        var path1 = Routing.generate('dream_ajax_dream_removeFromFavorite');
        $.post(path1, {id : dreamId})
            .done(function(msgDone) {
                console.log(msgDone);
                if ($this.closest('ul').find('li').length == 1) {
                    $('#favorites-block').remove();
                } else 
                $('#dream'+dreamId).remove();
            })
            .error(function(msg) {
                console.log(msg);
            }
        );
    });

</script>
{% endblock javascript %}
