<div class="row">

    <div class="col-md-7">
        {#Poster#}
        <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_poster_view_form') }}"/>

        <div class="showDreamAvatar-wrapper"> {# Avatar #}
            <img src="{{ dream.author.avatar|mediaPath|imagine_filter('userAvatar') }}">
            <p class="showDreamAvatar-fio">{{ dream.author.firstName }} {{ dream.author.lastName }}</p>

        </div>
    </div>  {# end poster block#}

    <div class="col-md-5">

        <div class="row" id="video">
            {% for video in dream.mediaVideos %}
                {% if loop.index <= 1 %}
                    {% media video, 'reference' %}
                {% endif %}
            {% endfor %}
        </div> {# end video block#}

        <div class="row">

            {#Images#}
            {% if dream.mediaPictures|length > 0 %}
                {% for picture in dream.mediaPictures %}
                    {% if loop.index <= 2 %}
                        <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div> {# end pictures block#}

    </div>  {# end video + pictures block#}

</div> {# end medi block#}
