<div>
    <h3>Кошторис проекту:</h3>
    <hr class="show-hr">

    <div> {# financial #}
        <h4 class="text-center"><span class="glyphicon glyphicon-usd"> </span> Фінансові витрати</h4>
        <ul class="list-group">
            {% for finance in dream.dreamFinancialResources %}
                <li class="list-group-item">
                    <span class="badge">{{ finance.quantity }} грн.</span>
                    {{ finance.title }}
                </li>
            {% endfor %}
        </ul>

    </div>

    <div> {# equipment #}

        <h4 class="text-center"><span class="glyphicon glyphicon-wrench"> </span> Інструменти/обладнання</h4>
        <ul class="list-group">
            {% for equipment in dream.dreamEquipmentResources %}

                {% if equipment.quantityType == 'piece' %}
                    {% set eType = 'шт.' %}
                {% elseif equipment.quantityType == 'kg' %}
                    {% set eType = 'кг.' %}
                {% else %}
                    {% set eType = 'тон.' %}
                {% endif %}

                <li class="list-group-item">
                    <span class="badge">{{ equipment.quantity }} {{ eType }}</span>
                    {{ equipment.title }}
                </li>
            {% endfor %}
        </ul>

    </div>

    <div>  {# work #}

        <h4 class="text-center"><span class="glyphicon glyphicon-user"> </span> Роботи та ресурси</h4>
        <ul class="list-group">
            {% for work in dream.dreamWorkResources %}
                <li class="list-group-item">
                    <span class="badge">{{ work.quantity }} чол. / {{ work.quantityDays }} дн.</span>
                    {{ work.title }}
                </li>
            {% endfor %}
        </ul>

    </div>

    <h3>{{ 'tags'|trans }}:</h3>
    {% for tag in dream.tags %}
        <p class="pull-left" style="padding-right: 10px"><span class="glyphicon glyphicon-tag"></span>&nbsp{{ tag.name }}</p>
    {% endfor %}
</div>