<div class="participants">
    <h3>Участники проекту:</h3>
    {% if contributors|length == 0 %}
        <p class="warning">
            Ще ніхто не підтримав цю мрію - будьте першим.
        </p>
    {% else %}
        <ul>
            {% for user in contributors %}
                <li class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatar') }}">
                    <div>
                        <a href="{{ path('profile_view', {'id': user.id}) }}">
                            {{ user.firstName }}
                            {{ user.lastName }}
                        </a>
                        <ul class="items">
                            {{ finContribute(user, dream)|raw }}
                            {{ equipContribute(user, dream)|raw }}
                            {{ workContribute(user, dream)|raw }}
                            {{ otherContribute(user, dream)|raw }}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
