<div class="participants">
    <h3>Участники проекту:</h3>
    {% if contributors|length == 0 %}
        <p class="warning">
            Ще ніхто не підтримав цю мрію - будьте першим.
        </p>
    {% else %}
        <ul>
            {% for user in contributors %}
                <li class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatar') }}">
                    <div>
                        <a href="{{ path('profile_view', {'id': user.id}) }}">
                            {{ user.firstName }}
                            {{ user.lastName }}
                        </a>

                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <a href="{{ path('remove_SomeContribute', {'slug': dream.slug, 'user': user.id}) }}">
                                Видалити
                            </a>
                        {% endif %}

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                            {% if ((user.id == app.user.id) or (dream.author.id == app.user.id)) and (dream.currentStatus in ['collecting-resources']) %}
                                <a href="{{ path('remove_SomeContribute', {'slug': dream.slug, 'user': user.id}) }}">
                                    Видалити
                                </a>
                            {% endif %}
                        {% endif %}
                        
                        <ul class="items">
                            {{ finContribute(user, dream)|raw }}
                            {{ equipContribute(user, dream)|raw }}
                            {{ workContribute(user, dream)|raw }}
                            {{ otherContribute(user, dream)|raw }}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
