<div>
    <h3>Участники проекту:</h3>

    {#*********************** для контроля потом удалить ***********************************<br/>#}

        {#{% for financialContributors in dream.dreamFinancialContributions %}#}
            {#&#123;&#35;{% if not financialContributors.hiddenContributor %}&#35;&#125;#}
                {#{{ financialContributors.user.firstName }} * {{ financialContributors.user.lastName }}#}
                {#{{ financialContributors.financialResource.title }} {{ financialContributors.quantity }}<br/>#}
            {#&#123;&#35;{% endif %}&#35;&#125;#}
        {#{% endfor %}#}

        {#---------------------------------------------------------------------------------------<br/>#}

        {#{% for equipmentContributor in dream.dreamEquipmentContributions %}#}
            {#&#123;&#35;{% if not equipmentContributor.hiddenContributor %}&#35;&#125;#}
                {#{{ equipmentContributor.user.firstName }} * {{ equipmentContributor.user.lastName }}#}
                {#{{ equipmentContributor.equipmentResource.title }} {{ equipmentContributor.quantity }}<br/>#}
            {#&#123;&#35;{% endif %}&#35;&#125;#}
        {#{% endfor %}#}

        {#---------------------------------------------------------------------------------------<br/>#}

        {#{% for workContributor in dream.dreamWorkContributions %}#}
            {#&#123;&#35;{% if not workContributor.hiddenContributor %}&#35;&#125;#}
                {#{{ workContributor.user.firstName }} * {{ workContributor.user.lastName }}#}
                {#{{ workContributor.workResource.title }} {{ workContributor.quantity }} {{ workContributor.quantityDays }}<br/>#}
            {#&#123;&#35;{% endif %}&#35;&#125;#}
        {#{% endfor %}#}

    {#**************************************************************************************<br/>#}

    <div>
        {% if contributors|length == 0 %}
            <div class="alert alert-info">
                Ще ніхто не підтримав цю мрію - будьте першим.
            </div>
        {% endif %}
        {% for user in contributors %}
            <div style="margin: 10px; width: 220px; display: inline-block; vertical-align: top; overflow: hidden;">
                <div style="float: left;">
                    <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatar') }}" class="showAvatar">
                </div>
                <div>
                    <p class="contributors-fio"  style="padding: 0 0 0 97px; margin: 0;">
                        <a href="{{ path('profile_view', {'id': user.id}) }}" style="color: #33333F;">
                            {{ user.firstName }}
                            {{ user.lastName }}
                        </a>
                    </p>

                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a href="{{ path('remove_SomeContribute', {'slug': dream.slug, 'user': user.id}) }}">
                            Видалити
                        </a>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                        {% if ((user.id == app.user.id) or (dream.author.id == app.user.id)) and (dream.currentStatus in ['collecting-resources']) %}
                            <a href="{{ path('remove_SomeContribute', {'slug': dream.slug, 'user': user.id}) }}">
                                Видалити
                            </a>
                        {% endif %}
                    {% endif %}

                </div>
                <div style="clear: both;">
                    <ul class="list-unstyled">
                        {{ finContribute(user, dream)|raw }}
                        {{ equipContribute(user, dream)|raw }}
                        {{ workContribute(user, dream)|raw }}
                        {{ otherContribute(user, dream)|raw }}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
