{% for dream in dreams %}
<div class="row">
    <div class="col-md-4">
        {{ loop.index }}. {{ dream.title }} ({{ dream.author.firstName }} {{ dream.author.lastName }})
    </div>
    <div class="col-md-2">
        <a href="{{ path('view_dream', {'slug': dream.slug}) }}"> Show </a>
        &nbsp;&nbsp;&nbsp;
        <a href="{{ path('edit_dream', {'id': dream.id}) }}"> Edit </a>
    </div>
    <div class="col-md-2">
        {{ dream.currentStatus }}
    </div>
    <div class="col-md-offset-4"></div>
</div>
{% endfor %}
