<div class="row">

    <div class="col-md-7">
        {#Poster#}
        <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_poster_view_form') }}"/>

        <div class="showDreamAvatar-wrapper"> {# Avatar #}
            <img src="{{ dream.author.avatar|mediaPath|imagine_filter('userAvatar') }}" class="showAvatar">
            <p class="showDreamAvatar-fio">
                <a href="{{ path('profile_view', {'id': dream.author.id}) }}" style="color: #33333F;">
                    {{ dream.author.firstName }} {{ dream.author.lastName }}
                </a>
            </p>

        </div>
    </div>  {# end poster block#}

    <div class="col-md-5">

        {% if dream.mediaVideos|length %}
            <div class="row" id="video">
                {% media dream.mediaVideos.0, 'reference' %}
            </div> {# end video block#}

            <div class="row"> {#Images#}
                <div id="links">
                    {% if dream.currentStatus == 'completed' or dream.currentStatus == 'success' %}
                        {% for picture in dream.mediaCompletedPictures %}
                            {% if loop.index <= 3 %}
                                <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                    <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                </a>
                            {% else %}
                                <div class="hidden">
                                    <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                        <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for picture in dream.mediaPictures %}
                            {% if loop.index <= 3 %}
                                <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                    <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                </a>
                            {% else %}
                                <div class="hidden">
                                    <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                        <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div> {# end pictures block#}
        {% else %} {#  else media without video #}
            <div class="row">  {#Images#}
                <div id="links">
                    {% if dream.currentStatus == 'completed' or dream.currentStatus == 'success' %}
                        {% for picture in dream.mediaCompletedPictures %}
                            {% if loop.index <= 9 %}
                                <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                    <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                </a>
                            {% else %}
                                <div class="hidden">
                                    <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                        <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for picture in dream.mediaPictures %}
                            {% if loop.index <= 9 %}
                                <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                    <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                </a>
                            {% else %}
                                <div class="hidden">
                                    <a href="{{ picture|mediaPath|imagine_filter('dream_gallery_view') }}" title="{{ picture.name }}">
                                        <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" class="img-thumbnail" />
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div> {# end pictures block#}
        {% endif %}

        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <div class="pull-right">
            {% for file in dream.mediaFiles %}
                <a href="{{ file|mediaPath }}" >{{ file.name }}</a>
            {% endfor %}
        </div>
    </div>  {# end video + pictures block#}

</div> {# end medi block#}
