<div>
    <h3>Участники проекту:</h3>
    <hr class="show-hr">

    {#No users contribute this dream, <a href="#">be the first...</a>#}

    {% for financialContributors in dream.dreamFinancialContributions %}
        {% if not financialContributors.hiddenContributor %}
            {{ financialContributors.user.firstName }} * {{ financialContributors.user.lastName }}
            {{ financialContributors.financialArticle.title }} {{ financialContributors.quantity }}<br/>
        {% endif %}
    {% endfor %}

    ---------------------------------------------------------------------------------------<br/>

    {% for equipmentContributor in dream.dreamEquipmentContributions %}
        {% if not equipmentContributor.hiddenContributor %}
            {{ equipmentContributor.user.firstName }} * {{ equipmentContributor.user.lastName }}
            {{ equipmentContributor.equipmentArticle.title }} {{ equipmentContributor.quantity }}<br/>
        {% endif %}
    {% endfor %}

    ---------------------------------------------------------------------------------------<br/>

    {% for workContributor in dream.dreamWorkContributions %}
        {% if not workContributor.hiddenContributor %}
            {{ workContributor.user.firstName }} * {{ workContributor.user.lastName }}
            {{ workContributor.workArticle.title }} {{ workContributor.quantity }} {{ workContributor.quantityDays }}<br/>
        {% endif %}
    {% endfor %}

    **************************************************************************************<br/>

    {% for user in contributors %}
        <div>
            <img src="{{ user.avatar|mediaPath|imagine_filter('userAvatar') }}">
            {{ user.firstName }}
            {{ user.lastName }}
            <ul>
                {{ finContribute(user, dream)|raw }}
            </ul>
        </div>
    {% endfor %}

</div>
