<div class="dream-header">
    <div class="poster">
        <a class="gallery-item" rel="gallery" href="{{ dream.mediaPoster|mediaPath }}">
            <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_poster_view_form') }}"/>
        </a>
    </div>
    {% if dream.mediaVideos|length %}
        <ul class="thumbnails">
            <li class="video">

                {% media dream.mediaVideos.0, 'normal' with {'html5': true } %}

            </li>
            {% if dream.currentStatus == 'completed' or dream.currentStatus == 'success' %}
                {% for picture in dream.mediaCompletedPictures %}
                    {% if loop.index <= 4 %}
                        <li>
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% else %}
                        <li class="hidden">
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for picture in dream.mediaPictures %}
                    {% if loop.index <= 4 %}
                        <li>
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% else %}
                        <li class="hidden">
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    {% else %} {#  else media without video #}
        <ul class="thumbnails no-video">
            {% if dream.currentStatus == 'completed' or dream.currentStatus == 'success' %}
                {% for picture in dream.mediaCompletedPictures %}
                    {% if loop.index <= 8 %}
                        <li>
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% else %}
                        <li class="hidden">
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for picture in dream.mediaPictures %}
                    {% if loop.index <= 8 %}
                        <li>
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% else %}
                        <li class="hidden">
                            <a class="gallery-item" rel="gallery" href="{{ picture|mediaPath }}" title="{{ picture.name }}">
                                <img src="{{ picture|mediaPath|imagine_filter('dream_pictures_view_form') }}" />
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>{#thumbnails#}
    {% endif %}
</div>
