{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted("ROLE_SUPER_ADMIN") %}
    <ul class="admin-controls">
        <li>
            <a href="{{ path('edit_dream', {'slug': dream.slug}) }}" class="btn btn-warning btn-xs">Редагувати</a>
        </li>
        {% if dream.currentStatus == 'implementing' %}
            <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#dreamYellowBlockEdit" class="btn btn-warning btn-xs">Змінити банківські дані</a>
            </li>
            <li>
                <a href="javascript:void(0)" id="dream-finish-collect-res-modal" data-toggle="modal" data-target="#dreamCompletedModal" class="btn btn-info btn-xs" title="Закінчити реалізацію.">{{ 'dream.implementing.stop'|trans }}</a>
            </li>
        {% elseif dream.currentStatus == 'collecting-resources' %}
            <li>
                <a href="javascript:void(0)" id="dream-start-collect-res-modal" data-toggle="modal" data-target="#dreamImplementingModal" class="btn btn-info btn-xs" title="Розпочати реалізацію.">{{ 'dream.implementing.start'|trans }}</a>
            </li>
        {% endif %}
    </ul>
    {# ========= POPUPS ========= #}
    {% if dream.currentStatus == 'implementing' %}
        {{ include ('GeekhubDreamBundle:includes:dreamYellowBlockEditing.html.twig') }}
    {% endif %}
    {% if dream.currentStatus == 'collecting-resources' %}
        {{ include ('GeekhubDreamBundle:includes:dreamStatusImplementModal.html.twig') }}
    {% endif %}
{% endif %}

<h2>{{ dream.title }}</h2>

{# ========= AUTHOR CONTROLS ========= #}
{# ========= AUTHOR CONTROLS ========= #}
{# ========= AUTHOR CONTROLS ========= #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (app.user.id == dream.author.id) %}
    {% if ((dream.currentStatus != 'success') and (dream.currentStatus != 'completed')) %}
        <ul class="author-controls">
            {% if (dream.currentStatus == 'submitted') or (dream.currentStatus == 'rejected') %}
                <li>
                    <a href="{{ path('edit_dream', {'slug': dream.slug}) }}" class="btn btn-warning btn-s" id="dream-edit-link">Редагувати</a>
                </li>
            {% else %}
                <li>
                    <a href="javascript:void(0)" id="dream-edit-dream-modal" data-toggle="modal" data-target="#dreamNotAllowedAuthorEdit" class="btn btn-warning btn-s" title="{{ 'dream.editDream'|trans }}">Редагувати</a>
                </li>
            {% endif %}

            {% if dream.currentStatus == 'implementing' %}
                <li>
                    <a href="javascript:void(0)"  id="dream-edit-yellowBlock-modal" data-toggle="modal" data-target="#dreamYellowBlockEdit" class="btn btn-warning btn-s">Змінити банківські дані</a>
                </li>
            {% endif %}
            {% if dream.currentStatus == 'collecting-resources' %}
                <li>
                    <a href="javascript:void(0)" id="dream-start-collect-res-modal" data-toggle="modal" data-target="#dreamImplementingModal" class="btn btn-info btn-s" title="Розпочати реалізацію.">{{ 'dream.implementing.start'|trans }}</a>
                </li>
            {% elseif dream.currentStatus == 'implementing' %}
                <li>
                    <a href="javascript:void(0)" id="dream-finish-collect-res-modal" data-toggle="modal" data-target="#dreamCompletedModal" class="btn btn-info btn-s" title="Закінчити реалізацію.">{{ 'dream.implementing.stop'|trans }}</a>
                </li>
            {% endif %}
        </ul>
     {% endif %}
    {# ========= POPUPS ========= #}
    {% if dream.currentStatus == 'implementing' %}
        {{ include ('GeekhubDreamBundle:includes:dreamYellowBlockEditing.html.twig') }}
    {% endif %}
    {% if dream.currentStatus == 'collecting-resources' %}
        {{ include ('GeekhubDreamBundle:includes:dreamStatusImplementModal.html.twig') }}
    {% endif %}
{% endif %}












{% if dream.currentStatus == 'implementing' and dream.implementedDescription is not null %}
    <div class="info-details" >
        {{ dream.implementedDescription|raw }}
    </div>
{% endif %}

<div class="description">
    {% if (dream.currentStatus == 'success') %}
        <span class="success"><em>Мрія успішно завершена</em></span>

        {% if dream.completedDescription is not null %}
            {{ dream.completedDescription|raw }}
        {% endif %}

        <span class="border"></span>
    {% endif %}

    {{ dream.description|raw }}

    <ul class="attachments">
        {% for file in dream.mediaFiles %}
            <li><a href="{{ file|mediaPath }}" >{{ file.name }}</a></li>
        {% endfor %}
    </ul>
</div>


