{% for dream in dreams %}
    <div class="dream-homepage-preview">
        <div class="dream-homepage-preview-header">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                <div class="dream-homepage-preview-header-favorite">
                    {% if app.user in dream.usersWhoFavorites %}
                        <span class="glyphicon glyphicon-star"  data-idmedia="{{ dream.id }}" data-sended="yes" title="уже в улюблених."></span>
                    {% else %}
                        <span class="glyphicon glyphicon-star" data-idmedia="{{ dream.id }}" data-sended="no" title="додати до списку улюблених."></span>
                    {% endif %}
                </div>
            {% endif %}
            <h4 title="{{ dream.title }}">
                {{ dream.title }}
            </h4>
        </div>
        <div class="dream-homepage-preview-body">
            <div class="showHomePageAvatar-wrapper"> {# Avatar #}
                <img src="{{ dream.author.avatar|mediaPath|imagine_filter('userAvatar_small') }}">
                <p class="showHomePageAvatar-fio"><a href="{{ path('profile_view', {'id': dream.author.id}) }}"> {{ dream.author.firstName }} {{ dream.author.lastName }} </a></p>
            </div>
            <div>
                <span class="triangle"></span>
                <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_poster_homePage') }}" class="img-thumbnail">
                        <span class="supported">
                            <span>{{ getCountContributors(dream) }}</span> Підтримало
                        </span>
                        <span class="rating">
                            Рейтинг <span>0</span>
                        </span>
            </div>
        </div>
        <div class="dream-homepage-preview-footer">

            {% include 'GeekhubDreamBundle:includes:progress-bar.html.twig' %}

            {% block dream_bottom %}
                <a href="{{ path('view_dream', {'slug': dream.slug} ) }}" id="{{ dream.slug }}">Детальніше</a>
            {% endblock dream_bottom %}
        </div>
    </div>
{% endfor %}
