<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}CheDream - Open source crowdfunding system{% endblock %}">
        <meta name="author" content="{% block author %}Geekhub PHP Developers Team{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Welcome{% endblock %}</title>

        <link href="{{ asset('bundles/geekhubresource/css/temp/fontello.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/geekhubresource/css/theme_fonts.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/geekhubresource/css/base.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/geekhubresource/css/temp/jquery.tagit.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/geekhubresource/css/temp/tagit.ui-zendesk.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/geekhubdream/css/dream-style.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/geekhubresource/css/temp/blueimp-gallery.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/geekhubresource/css/theme.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        {% block body %}
            <div class="main-wrap container">
                {% block menu %}
                    {% embed 'GeekhubResourceBundle:includes:menu.html.twig' %}
                        {% block items %}
                            {{ parent() }}
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
                {% block main %}
                    <div class="wrap">
                        {% block content %}{% endblock content %}
                    </div>
                {% endblock main %}
            </div>
            {% block footer %}{% include 'GeekhubResourceBundle:includes:footer.html.twig' %}{% endblock %}
        {% endblock %}

        {% block javascript %}
            <script src="{{ asset('bundles/geekhubresource/js/temp/jquery.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/bc-bootstrap-collection.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/holder.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/jquery-ui.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/tag-it.js') }}"></script>
            
            <script src="{{ asset('bundles/geekhubdream/js/createDream.js') }}"></script>
            <script src="{{ asset('bundles/geekhubdream/js/tags.js') }}"></script>
            <script src="{{ asset('bundles/geekhubdream/js/uploadFile.js') }}"></script>
            <script src="{{ asset('bundles/geekhubuser/js/avatar_upload.js') }}"></script>
            
            <script src="{{ asset('bundles/geekhubresource/js/temp/jquery.ui.widget.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/jquery.fileupload.js') }}"></script>
            <script src="{{ asset('bundles/geekhubresource/js/temp/jquery.fileupload.js') }}"></script>
            
            <script src="{{ asset('bundles/geekhubdream/js/removeMediaObj.js') }}"></script>
            
            <script src="{{ asset('bundles/geekhubresource/js/temp/blueimp-gallery.js') }}"></script>
            
            <script src="{{ asset('bundles/geekhubresource/js/frontend.js') }}"></script>
            
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ url('bazinga_jstranslation_js') }}"></script>
        {% endblock %}
    </body>
</html>
