<!--<nav class="header navbar navbar-default" role="navigation">-->
<nav class="header">
    <div class="wrap">
        <!--<div class="navbar-header">-->
        
        <!--<div>-->
            <!--<button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
            >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            
            <a class="logo" href="{{ path('geekhub_dream_homepage') }}">
                <img src="/images/logo.png" alt="Logo">
            </a>
        <!--</div>-->
        
        <!--<div class="navbar-collapse collapse">-->
        <!--<div>-->
            <!--<ul class="nav navbar-nav">-->
            <ul class="main-menu">
                <li>
                    <a href="{{ path('dream_list') }}">Мрії</a>
                </li>
                
                <li>
                    <a href="{{ path('faq') }}">FAQ</a>
                </li>
                
                <li>
                    <a href="{{ path('page_contacts') }}">Контакти</a>
                </li>
            </ul>
            
            <form>
                <div class="search-block">
                    <button class="icon-search" type="button"></button>
                    <input type="text" class="field-search" placeholder="Geekstarte">
                    
                    <a href="#" class="search-link">
                        <span class="icon-search"></span>
                        <span class="search-title">Пошук</span>
                    </a>
                </div>
            </form>
            
            <ul class="media-block">
                {% if app.user is null %}
                    <li>
                        <span class="media-title">Увійти через</span>
                    </li>
                    
                    <li>
                        <a href="{{ path('facebook_login') }}" class="fb">
                            <i class="icon icon-facebook"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{ path('vkontakte_login') }}" class="vk">
                            <i class="icon icon-vkontakte"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{ path('odnoklassniki_login') }}" class="ok">
                            <i class="icon icon-odnoklassniki"></i>
                        </a>
                    </li>
                    
                {% else %}
                    <li>
                        <a href="{{ path('profile_view', {'id': app.user.id}) }}" class="user" title="{{ app.user.getFirstName() }} {{ app.user.getLastName() }}">
                            <span class="icon icon-user"></span>
                        </a>
                    </li>
                    <li class="user-dreams-block">
                        <a href="#" class="show-dreams">
                            <span class="icon icon-dream"></span>
                        </a>
                        
                        <ul class="dreams-list">
                            {% if app.user.dreams|length > 0 %}
                                {% for dream in app.user.dreams %}
                                    {% if (dream.currentStatus not in ['success', 'fail']) and (loop.index <= 5) %}
                                        <li>
                                            <a href="{{ path('view_dream', {'slug': dream.slug} ) }}">
                                            <span class="photo-block">
                                                <img src="{{ dream.mediaPoster|mediaPath|imagine_filter('dream_preview_in_menu') }}"  alt="Image" >
                                                <span class="icon-status {{ dream.currentStatus }}"></span>
                                            </span>
                                            <span class="info-block">
                                                <span class="name">{{ dream.title }}</span>
                                                {% if dream.currentStatus == 'submitted' %}
                                                    <span class="status">на перевірці</span>
                                                {% elseif dream.currentStatus == 'rejected' %}
                                                    <span class="status">відхилені</span>
                                                {% elseif dream.currentStatus == 'collecting-resources' %}
                                                    <span class="status">збір коштів</span>
                                                {% elseif dream.currentStatus == 'implementing' %}
                                                    <span class="status">реалізація</span>
                                                {% elseif dream.currentStatus == 'completed' %}
                                                    <span class="status">завершена</span>
                                                {% endif %}
                                            </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="no-my-dreams">Ви не додали <br />жодної мрії</li>
                            {% endif %}
                            
                        </ul>
                        
                    </li>
                    <li>
                        <a href="{{ path('_logout') }}" class="logout">
                            <span class="icon icon-logout"></span>
                        </a>
                    </li>
                {% endif %}
                
            </ul>
            
            <a href="{{ path('new_dream') }}" class="add-dream">
                <span class="icon-bg"></span>
                Додати мрію
                <span class="icon-add"></span>
            </a>
            
        <!--</div>-->
    </div> <!--/Wrap-->
</nav> <!--/Header-->
